.st-page-quienes-somos {
 	.st-common-center-text {
 		padding-bottom: 0;
 	}
 	.st-full-bg-columns {
 		&.st-full-bg-columns-1 {
			.container {
				max-width: 900px;
		 		.st-tbl-row {
		 			.st-full-bg-col-in {
						h2 {
							font-size: 1.6em;
							font-weight: 600;
							text-align:left;

							& + p {
								margin-top: 38px;
							}
						}

						p {
							font-size: 1.2em;
							line-height: 1.6;
							text-align:left;
						}
					 	@media (min-width: $screen-lg-min) {
							padding-left:70px;
							background-repeat:no-repeat;
							background-position: 0px 80px;
							&#mision {
								background-image:url('../images/quienes-somos/icon-flag.png');
							}
							&#vision {
								background-image:url('../images/quienes-somos/icon-eye.png');
							}
							&#valores {
								background-image:url('../images/quienes-somos/icon-diamond.png');
							}
						}
		 			}
		 		}
			}
 		}
 	}
 }
