.st-acerca-web-sec {
	.row {
		@media (min-width: $screen-md-min) {
			margin-left: -40px;
			margin-right: -40px;
		}

		> [class*=col-] {
			@media (min-width: $screen-md-min) {
				padding-left: 40px;
				padding-right: 40px;
			}

			& + [class*=col-] {
				@media (max-width: $screen-xs-max) {
					padding-top: 30px;
				}
			}
		}
	}

	p {
		font-size: 1.2em;
		line-height: 1.4;
		color: #6e6e6e;
	}

	.st-bullet-list-plain {
		li {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}
}

.st-info-acerca-web-sec {
	h3 {
		text-transform: none;
	}

	&.st-info-sec-1 {
		@media (min-width: $screen-sm-min) {
			padding-bottom: 78px !important;
		}
	}
}
