.st-actualidad-sec {
	@media (min-width: $screen-sm-min) {
		padding-bottom: 80px;
	}

	@media (max-width: $screen-xs-max) {
		padding-bottom: 45px;
	}

	.row {
		@media (min-width: $screen-md-min) {
			margin-left: -35px;
			margin-right: -35px;
		}

		> [class*=col-] {
			@media (min-width: $screen-md-min) {
				padding-left: 40px;
				padding-right: 40px;
			}

			& + [class*=col-] {
				@media (max-width: $screen-xs-max) {
					padding-top: 40px;
				}
			}
		}
	}

	.st-bullet-list {
		li {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}
}

.st-twocol-extra-col {
	padding-top: 130px;

	@media (max-width: $screen-xs-max) {
		padding-top: 45px;
	}

	p + ul {
		margin-top: 30px;
	}
}
