.st-md-content {
	@media (max-width: 767px) {
		text-align: center;
	}

	p {
		font-size: 1.800em;
		line-height: 1.3em;
		margin: 0 0 35px 0;
		font-weight: 300;

		@media (max-width: $screen-xs-max) {
			font-size: 1.3em;
		}
	}

	h3 {
		margin: 0 0 35px 0;
	}
}

.st-big-image-panel {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.container {
		width: 810px;
		padding: 160px 0;

		@media (max-width: 991px) {
			width: 100%;
			text-align: center;
			padding: 60px 15px;
		}

		p {
			max-width: 80%;
			font-size: 2em;
			line-height: 1.2em;
			margin: 0 0 50px 0;
			color: $white;
			font-weight: 600;

			@media (min-width: $screen-sm-min) {
				text-align: left;
			}

			@media (max-width: 991px) {
				max-width: none;
			}

			@media (max-width: 767px) {
				margin: 0 0 30px 0;
				font-size: 1.5em;
			}

			&.st-small-txt {
				font-size: 1.8em;
				margin: 0 0 75px 0;

				@media (max-width: 767px) {
					margin: 0 0 40px 0;
				}

				span {
					font-weight: 300;
				}
			}
		}
	}
}

.st-somosBx {
	max-width: 70%;

	@media (max-width: 767px) {
		max-width: none;
	}

	h3 {
		font-size: 1.8em;
		font-weight: 300;
		line-height: 1.4em;
	}
}

.st-nuestraBx {
	p {
		font-size: 1.3em;
		line-height: 1.4em;
		margin: 0 0 35px 0;
		font-weight: 300;

		@media (max-width: 767px) {
			text-align: center;
		}
	}
}

.masqueBx {
	h3 {
		span {
			font-weight: 300;
		}
	}
}

.st-padding-top-0 {
	padding-top: 0px !important;
}

.st-margin-0 {
	margin: 0px !important;
}

.st-top-margin-25 {
	margin-top: 25px !important;
}

.st-bot-margin-30 {
	margin-bottom: 30px !important;
}

.st-top-margin-20 {
	margin-top: 20px !important;
}

.st-top-margin-40 {
	margin-top: 40px !important;
}

.st-bot-margin-50 {
	margin-bottom: 50px !important;
}

.disblk {
	display: block;
}

.composBx {
	h6 {
		font-size: 1.333em;
		font-weight: 500;
		margin: 0 0 36px 0;
		max-width: 80%;

		@media (max-width: 767px) {
			max-width: none;
		}
	}

	h5 {
		font-size: 1.6em;
		font-weight: 500;
		margin: 40px 0 0px 0;
		max-width: 90%;

		@media (max-width: 767px) {
			text-align: center;
			max-width: none;
		}
	}
}

.trazablesBx {
	@media (max-width: 767px) {
		text-align: center;
	}

	h5 {
		font-size: 1.8em;
		font-weight: 500;
		margin: 0 0px 40px 0;
		max-width: 90%;
		line-height: 1.4em;

		@media (max-width: 767px) {
			max-width: none;
			font-size: 1.5em;
		}
	}

	h6 {
		font-size: 1.3em;
		font-weight: 500;
		line-height: 1.3em;
	}

	p {
		font-size: 1.3em;
		font-weight: 300;
		line-height: 1.3em;
	}
}

.st-ol-listing {
	margin: 0;
	padding: 0;
	counter-reset: ol-counter attr(start);

	li {
		list-style: none;
		font-size: 1.332em;
		font-weight: 300;
		position: relative;
		padding-left: 22px;
		line-height: 1.4;
		margin: 0 0 35px 0;

		&:before {
			content: counter(ol-counter) ".";
			counter-increment: ol-counter;
			color: $primary;
			font-size: 90%;
			font-weight: normal;
			position: absolute;
			left: 0;
			top: 0px;
		}
	}
}

[start*="0"] {
	counter-reset: ol-counter 0;
}

[start*="1"] {
	counter-reset: ol-counter 1;
}

[start*="2"] {
	counter-reset: ol-counter 2;
}

[start*="3"] {
	counter-reset: ol-counter 3;
}

[start*="4"] {
	counter-reset: ol-counter 4;
}

[start*="5"] {
	counter-reset: ol-counter 5;
}

[start*="6"] {
	counter-reset: ol-counter 6;
}

[start*="7"] {
	counter-reset: ol-counter 7;
}

[start*="8"] {
	counter-reset: ol-counter 8;
}

[start*="9"] {
	counter-reset: ol-counter 9;
}

[start*="10"] {
	counter-reset: ol-counter 10;
}

.st-hr-space {
	margin: 30px 0 40px 0;
	border-color: #d7d7d7;
}

.plantaBx {
	h3 {
		font-size: 1.333em;
		font-weight: 500;

		@media (max-width: 767px) {
			text-align: center;
		}
	}
}

.secodoBx {
	h5 {
		font-weight: 300;
		font-size: 1.667em;
		line-height: 1.4em;
		margin: 160px 0 0 0;

		@media (max-width: $screen-sm-max) {
			margin-top: 0;
		}

		@media (max-width: $screen-xs-max) {
			font-size: 1.5em;
		}
	}
}

.port-application {
	@media (max-width: 767px) {
		text-align: center;
		margin-bottom: 30px;
	}

	i {
		display: inline-block;
		background: #fef5ea;

		@include border-radius(100%);

		font-size: 50px;
		width: 97px;
		height: 97px;
		line-height: 97px;
		color: $primary;
		text-align: center;
		margin: 0 0 20px 0;
	}

	h3 {
		color: $secondary;
		margin: 0 0 5px 0;
	}

	p {
		margin: 0;
		font-size: 1.303em;
		line-height: 1.4em;
		color: $fontGray;
		font-weight: 300;
	}
}

.xtra-lg-btn {
	font-size: 2.333em;
	color: $secondary;
	line-height: 1.2em;
	text-transform: uppercase;
	text-align: left;

	@media (max-width: 767px) {
		font-size: 1.333em;
	}

	span {
		display: inline-block;
		margin: 0 15px 0 0;
	}

	.btnIcon {
		padding: 16px 36px 16px 0;
		border-right: solid 1px $primary;
		display: inline-block;
		margin: 0 33px 0 0;
		vertical-align: super;

		@media (max-width: 767px) {
			padding: 10px 10px 10px 0;
			margin: 0 10px 0 0;
		}

		&:before {
			height: 97px;
			line-height: 97px;
			width: 97px;
			text-align: center;
			font-size: 50px;
			color: $white;
			background: $secondary;

			@include border-radius(100%);

			display: block;

			@media (max-width: 767px) {
				font-size: 30px;
				width: 50px;
				height: 50px;
				line-height: 50px;
			}
		}
	}

	.btnArrow {
		color: $primary;
		font-size: 1.3em;
		vertical-align: super;
	}

	&:hover {
		color: $primary;

		.btnArrow {
			color: $secondary;
		}

		.btnIcon {
			border-right: solid 1px $secondary;

			&:before {
				background: $primary;
			}
		}
	}
}

.st-heading-img {
	display: inline-block;
}

.st-biofabricaBx {
	h2 {
		span {
			display: inline-block;
			vertical-align: middle;

			&.st-heading-img {
				margin: 0 0 0 15px;
			}
		}
	}
}

.rainBx {
	margin-bottom: 50px;

	h5 {
		font-size: 1.5em;
		color: $fontGray;
		font-weight: 500;
		margin: 0 0 30px 0;

		span {
			color: $secondary;
		}
	}

	.st-ol-listing {
		li {
			font-weight: 500;
			padding-left: 0;
			color: $secondary;

			&:before {
				position: static;
				font-weight: 500;
				color: $secondary;
				margin: 0 7px 0 0;
			}

			p {
				font-weight: 300;
				color: $fontGray;

				@media (max-width: 767px) {
					text-align: left;
				}
			}
		}
	}
}

.st-round-icon-sec {
	h2 {
		font-size: 18px;
		color: $primary;
		line-height: 30px;
		font-weight: 400;

		&.st-trazables-heading {
			max-width: 350px;
		}
	}
}

.st-common-sec.st-round-icon-sec {
	&.st-trazables-sec {
		padding-bottom: 10px;
		background: transparent;

		.text-right {
			@media (max-width: 767px) {
				text-align: center;
			}
		}

		.st-main-icon-l {
			i {
				font-size: 178px;
				color: $primary;

				@media (max-width: 767px) {
					font-size: 90px;
				}

				&:before {
					margin: 0;
				}
			}
		}
	}
}

.st-common-sec.st-info-sec {
	&.st-info-icon-sec {
		text-align: center;

		i {
			font-size: 70px;
			color: $primary;
			display: block;
			margin-bottom: 10px;
		}

		.st-info-block {
			font-size: 18px;
			color: $primary;
			font-weight: 400;
			line-height: 24px;
		}
	}
}

.st-vimeo-video-bx {
	&.st-vimeo-video-bx-wide {
		margin-top: 50px;
		margin-bottom: 30px;

		@media (max-width: 767px) {
			margin: 0;
		}

		&:before {
			background: url(../images/somos-leaf-left.png) no-repeat center center;
			width: 40%;
			height: 57%;
			left: -50%;
			bottom: 15.5%;

			@media (max-width: 991px) {
				background-size: cover;
				width: 20%;
				height: 27%;
				left: -19%;
				bottom: 15.5%;
			}
		}

		&:after {
			background: url(../images/somos-leaf-right.png) no-repeat center center;
			width: 29.5%;
			height: 42%;
			right: -41%;
			bottom: 27.5%;

			@media (max-width: 991px) {
				background-size: cover;
				width: 19.5%;
				height: 29%;
				right: -25%;
			}
		}
	}
}

.st-theme-grey-sec {
	background: #f4f4f4;
}

.st-somosBx {
	max-width: 75%;
	margin: 0 auto;

	@media (max-width: 991px) {
		max-width: none;
	}

	p {
		font-size: 18px;
		line-height: 1.7em;
		text-align: center;
		margin: 0 0 30px 0;

		@media (max-width: 767px) {
			font-size: 1.2em;
		}
	}

	h3 {
		font-size: 18px;
		font-weight: bold;
		color: #44b029;
		text-align: center;
		margin: 0;

		@media (max-width: 767px) {
			font-size: 1.2em;
		}
	}
}

.st-somos-video-sec {
	overflow: hidden;
}
