.st-header-area.st-header-beneficios {
	@media (max-width: $screen-xs-max) {
		background-position: 70% 0;
	}
}

.st-beneficios-desc-sec {
	text-align: center;

	h3 {
		font-size: 1.6em;
	}

	p {
		font-size: 1.2em;

		& + p {
			margin-top: 32px;
		}
	}

	.container {
		max-width: 720px;
	}
}

.st-beneficios-img-sec {
	.st-bg-theme {
		background: #ea8118;
		color: $white;

		.st-full-bg-col-in {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}

		h3 {
			color: $white;
		}

		p {
			font-size: 1.2em;
			line-height: 1.4;
			font-weight: 300;

			&:last-child {
				@media (max-width: $screen-xs-max) {
					margin-bottom: 0;
				}
			}

			& + p {
				margin-top: 35px;
			}
		}
	}
}

.st-big-desc-1 {
	text-align: center;

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	p {
		font-size: 1.2em;
		line-height: 1.6;
		color: #6e6e6e;

		&:last-child {
			margin-bottom: 0;
		}

		& + p {
			margin-top: 33px;
		}
	}

	.container {
		max-width: 720px;
	}
}
