.st-biofabrica-sec {
	@media (min-width: $screen-sm-min) {
		padding-top: 80px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 150px;
	}

	@media (max-width: $screen-xs-max) {
		text-align: center;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 500;
	}

	.st-small-heading {
		color: #6e6e6e;
		font-size: 1.2em;
		font-weight: 600;
		line-height: 1.6;
	}

	.container {
		max-width: 940px;
	}

	.st-bullet-list {
		li {
			font-size: 1.2em;
			padding: 0;
			line-height: 1.6;

			@media (max-width: $screen-xs-max) {
				text-align: center;
			}

			&:before {
				display: none;
			}
		}
	}
}

.st-biofabrica-testimonial-sec {
	.container {
		max-width: 800px;
	}

	&.st-info-sec {
		padding-top: 18px !important;

		@media (min-width: $screen-sm-min) {
			padding-bottom: 80px !important;
		}

		@media (min-width: $screen-md-min) {
			padding-bottom: 115px !important;
		}
	}

	.st-author-info-1:before {
		margin-top: 0;
		margin-bottom: 20px;
	}
}
