.st-bullet-list {
	&.st-bullet-list-plain {
		padding: 0;

		li {
			padding: 0;
			font-size: 1.2em;
			color: #6e6e6e;

			&:before {
				display: none;
			}
		}
	}
}

.st-campos-sec {
	padding: 0 15px;

	@media (max-width: $screen-sm-max) {
		padding-top: 80px;
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 45px;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 600;
	}

	&.st-full-bg-columns {}

	.img-responsive {
		margin: 0 auto;
	}

	.st-bullet-list-plain {
		li {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}
}

.st-campos-middle-sec-1 {
	background: #f4f4f4;
	padding: 70px 15px;

	p, ul {
		max-width: 440px;

		@media (max-width: $screen-sm-max) {
			margin: 0 auto;
		}
	}

	h3 {
		font-size: 1.6em;
		margin-bottom: 50px;

		&:not(.st-color-secondary) {
			color: #6e6e6e;
		}
	}

	.composBx {
		h3 {
			margin-bottom: 0;
			font-weight: 600;
		}

		@media (max-width: $screen-sm-max) {
			padding-top: 50px;
		}
	}
}
