.st-certificaciones-sec {
	&.st-round-icon-sec {
		text-align: center;

		@media (min-width: $screen-sm-min) {
			padding-bottom: 60px;
			padding-top: 60px;
		}

		@media (max-width: $screen-xs-max) {
			padding-bottom: 45px;
			padding-top: 45px;
		}
	}

	p {
		font-size: 1.2em;
		line-height: 1.6;
		max-width: 700px;
		text-align: center;
		margin: 0 auto;

		& + .btn {
			margin-top: 30px;
		}
	}

	.btn {
		font-weight: 600;
		text-transform: none;
		letter-spacing: 0;
		font-family: $font;
		font-size: 1.2em;

		& + h4 {
			margin-top: 30px;
		}
	}

	h4 {
		font-size: 1.6em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.st-rounded-icon-box {
		margin: 0 auto;
		width: 200px;
		height: 200px;

		img {
			width: 187px;
			height: 169px;
		}
	}
}
