.st-page-contactenos {
	h4 {
		color:#44b029;
	}
	.st-location-sec {
		.col-xs-12 {
			margin-bottom:20px;
		}
		hr {
			margin:5px 0px;
			color:#545454;
			border: 0;
    		border-top: 1px solid #545454;
    		margin-left:13px;
    		margin-right:13px;
		}
		.st-email-media {
			margin: 0 auto;
		}
	}
	.btn.btn-default.st-btn {
		color:#fff;
		background-color:#43b02a;
	}
}



