
@include font-face("steviaone", font-files( "steviaone.eot?88743377#iefix", "steviaone.woff","steviaone.woff2", "steviaone.ttf","steviaone.svg#steviaone" ), "steviaone.eot", normal, normal );


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @include font-face("steviaone", font-files("steviaone.svg#steviaone" ), normal, normal );
}*/

 
 [class^="sicon-"]:before, [class*=" sicon-"]:before {
  font-family: "steviaone";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sicon-arrow-down:before { content: '\e800'; } /* '' */
.sicon-arrow-left:before { content: '\e801'; } /* '' */
.sicon-arrow-up:before { content: '\e802'; } /* '' */
.sicon-arrow-right:before { content: '\e803'; } /* '' */
.sicon-email:before { content: '\e804'; } /* '' */
.sicon-phone:before { content: '\e805'; } /* '' */
.sicon-plus:before { content: '\e806'; } /* '' */
.sicon-dots:before { content: '\e807'; } /* '' */
.sicon-news:before { content: '\e808'; } /* '' */
.sicon-location:before { content: '\e809'; } /* '' */
.sicon-file:before { content: '\e80a'; } /* '' */
.sicon-water:before { content: '\e80b'; } /* '' */
.sicon-arrow-s-down:before { content: '\e80c'; } /* '' */
.sicon-arrow-s-right:before { content: '\e80d'; } /* '' */
.sicon-arrow-s-left:before { content: '\e80e'; } /* '' */
.sicon-arrow-s-up:before { content: '\e80f'; } /* '' */
.sicon-arrow-l-up:before { content: '\e810'; } /* '' */
.sicon-arrow-l-right:before { content: '\e811'; } /* '' */
.sicon-arrow-l-left:before { content: '\e812'; } /* '' */
.sicon-trazables:before { content: '\e813'; } /* '' */
.sicon-medal:before { content: '\e814'; } /* '' */
.sicon-field:before { content: '\e816'; } /* '' */
.sicon-shipping:before { content: '\e817'; } /* '' */
.sicon-estamos:before { content: '\e818'; } /* '' */
.sicon-phone-1:before { content: '\e81d'; } /* '' */
.sicon-favourite:before { content: '\e81e'; } /* '' */
.sicon-email-1:before { content: '\e81f'; } /* '' */
.sicon-globe:before { content: '\e827'; } /* '' */
.sicon-arrow-l-down:before { content: '\e828'; } /* '' */
.sicon-products:before { content: '\e829'; } /* '' */
.sicon-d-arrow-down:before { content: '\e82a'; } /* '' */
.sicon-d-arrow-left:before { content: '\e82b'; } /* '' */
.sicon-d-arrow-right:before { content: '\e82c'; } /* '' */
.sicon-d-arrow-up:before { content: '\e82d'; } /* '' */
.sicon-face:before { content: '\e82e'; } /* '' */
.sicon-glass:before { content: '\e82f'; } /* '' */
.sicon-muestra:before { content: '\e830'; } /* '' */
.sicon-secado:before { content: '\e83b'; } /* '' */
.sicon-ecology:before { content: '\e83c'; } /* '' */
.sicon-plants:before { content: '\e83d'; } /* '' */
.sicon-social-care:before { content: '\e83e'; } /* '' */
.sicon-idea-agricultural:before { content: '\e83f'; } /* '' */
.sicon-gdp-growth:before { content: '\e840'; } /* '' */
.sicon-political:before { content: '\e841'; } /* '' */
.sicon-certificate:before { content: '\e860'; } /* '' */
.sicon-factory:before { content: '\e861'; } /* '' */
.sicon-water-2:before { content: '\e862'; } /* '' */
.sicon-water-1:before { content: '\e863'; } /* '' */
.sicon-social-impact:before { content: '\e88d'; } /* '' */
.sicon-agricultural:before { content: '\e88e'; } /* '' */
.sicon-gdp:before { content: '\e88f'; } /* '' */
.sicon-economy:before { content: '\e890'; } /* '' */