.st-discover-video {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: hidden;
	top: 0;
	bottom: 40%;
	&:before{
		position: absolute;

	}

	@include transition(all 0.8s ease-in-out);

	@media (min-width: $screen-xs-min) {
	}

	@media (min-width: $screen-sm-min) {
		bottom: -10%;
		height:100%;
	}

	.vjs-control-bar {
		display: none !important;
	}

	&:before, &:after {
		content: '';
		bottom: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: -2px;
		height: 35%;
		display: block;
		z-index: 4;
	}

	&:before {
		/*@include background-image(linear-gradient(top, rgba(#def0f6, 1) 30%, rgba(#def0f6, 0) 100%));*/
	}

	&:after {
		top: auto;
		bottom: 0px;

		@media (min-width: $screen-xs-min) {
			bottom:140px;
		}

	}

	.videojs-background-wrap {
		top: 10%;
	}

	.videojs-background-wrap {
		overflow: hidden;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		.video-js {
			overflow:hidden;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: -20px;
				z-index: 1;
				@include background-image(linear-gradient(top, rgba(166,210,237,0.39) 1%,rgba(166,210,237,0) 19%,rgba(166,210,237,0) 40%,rgba(125,185,232,0) 100%));
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 20%;

			/*@include background(linear-gradient(rgba($white, 0), rgba($white, 1)));*/
		}

		video {
			object-fit: cover;
		}

		.vjs-poster {
			background-size: cover;
		}
	}

}

.st-page-index{
	.st-middle-content {
		display: block;
		height: 100%;
		position: relative;
		padding-top: 29%;

		@media (min-width: $screen-xs-min) {
			padding-top: 16%;
		}

		@media (min-width: $screen-lg-min) {
			@media (min-height:640px) and (max-height: $screen-sm-min) {
				padding-top: 5%;
			}
		}

		@media (min-width: $screen-lg-min) {
			padding-top: 16%;
		}

		.st-middle-content-in {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
			height: 100%;
			position: relative;

			

			h1 {
				font-size: 3.5em;
				@include transform(translate(0, 10px));
				@include animation-duration(2s);
				@include transition-delay(0.5s);
				@include transition(all 0.8s ease-in-out);

				@media (min-width: $screen-sm-min) {
					font-size: 5.5em;
				}

				@media (min-width: $screen-lg-min) {
					margin-top:-30px;
					@media (min-height:640px) and (max-height: $screen-sm-min) {
						font-size: 5em;
					}
				}
				
			}
		}
	}
}

.st-info-row {
	position: relative;
	z-index:99988;
	padding-bottom:0px;
	@include transition(all 0.8s ease-in-out);


	.st-animate{
		opacity: 0;
		@include transform(translate(0, 100px));
		@include transition(all 1.1s ease-in-out);
		&:nth-child(1){
			@include transition-delay(0s);
		}
		&:nth-child(2){
			@include transition-delay(0.2s);
		}
		&:nth-child(3){
			@include transition-delay(0.4s);
		}
	}
	@media (min-height: 800px) {
		.st-animate{
			@include transform(translate(0, 0px));
			opacity: 1;
		}
	}
	@media (max-width: 980px) {
		margin-top:80px;
		.st-animate{

			@include transform(translate(0, 0px));
			opacity: 1;
		}
	}
	@media (min-width: $screen-xs-min) {
		padding-top: 25%;
	}
	@media (min-width: $screen-sm-min) {
		//position: absolute;
		position: relative;
		left: 0;
		right: 0;
		//bottom: -300px;
		bottom:-100px;
		@media (max-height: 680px) {
			bottom:-30px;
		}
		padding-top:0px;
	}

	@media (min-width: $screen-sm-min) {
		//bottom: -420px;
	}
	@media (min-width: $screen-lg-min) {
		@media (min-height:640px) and (max-height: $screen-sm-min) {
			padding-bottom: 0;
		}
	}
	@media (min-height:801px) {
		position:relative;
		bottom:0;
		margin-top:250px;
	}

	li {
		padding: 10px 0;
		@media (min-width: $screen-sm-min) {
			padding:0;
		}

		a {
			border: none;

			&:before {
				display: none;
			}
		}
	}
}

#bg-video{
	@media (max-width: 980px) {
		video{
				display:none;
			}
		.vjs-poster{
			display:block !important;
		}
	}
}
.st-video-leaf-1 {
	top: 6%;
	left: 60%;
	width: 125px;
	z-index: 1;
	@include transform(translate(20%, 0));

	@media (min-width: $screen-xs-min) {
		@include transform(translate(100%, 0));
	}

	@media (min-width: $screen-sm-min) {
		@include transform(translate(20%, 0));
	}

	@media (min-width: $screen-md-min) {
		width: 175px;
		top: 5%;
		@include transform(translate(-80%, 0%));
		@media (min-width: $screen-lg-min) {
			@media (min-height:640px) and (max-height: $screen-sm-min) {
				top: 0;
				@include transform(translate(-180%, 0));

				.st-home-video-animate & {
					@include transform(translate(-200%, 0));
				}
			}
		}
	}
	@media (min-width: $screen-md-min) {
		top:8%;
	}
}

.st-video-leaf-2 {
	width: 95px;
	left: 50%;
	top: 50%;

	@include transform(translate(300%, 0));

	@media (min-width: $screen-xs-min) {
		top: 30%;
	}

	@media (min-width: $screen-md-min) {
		top: 38%;
	}

	@media (min-width: $screen-lg-min) {
		width: 112px;
	}

	@media (min-width: $screen-lg-min) {
		@media (min-height:640px) and (max-height: $screen-sm-min) {
			top: 55%;

			.st-home-video-animate & {
				top: 55%;
			}
		}
	}
}

.st-video-leaf-3 {
	top:8%;
	width: 45px;
	@include transform(translate(-50%, 0));
	z-index: 0;

	@media (min-width: $screen-sm-max) {
		width: 45px;
		top: 18%;
	}
	@media (max-width: 980px) {
		display:none;
	}
}

.st-video-leaf-4 {
	top: 44%;
	width: 35px;
	@include transform(translate(400%, 0));
	@media (min-width: $screen-xs-min) {
		top: 35%;
	}

	@media (min-width: $screen-sm-min) {
		width: 55px;
		top: 35%;
	}

	@media (min-width: $screen-md-min) {
		top: 55%;
	}

	@media (min-width: $screen-lg-min) {
		@media (min-height:640px) and (max-height: $screen-sm-min) {
			.st-home-video-animate & {
				top: 46%;
			}
		}
	}
	@media (max-width: 980px) {
		display:none;
	}
}

.st-home-video-animate {
	.st-info-row {
		opacity: 1;
		.st-animate {
			opacity: 1;
			@include transform(translate(0, 0px));
		}
		@media (min-width: $screen-lg-min) and (min-height: $screen-xs-min) {
		}
	}
	@media (min-width: $screen-sm-min) {
		
		&.st-page-index {
			.st-middle-content .st-middle-content-in {
				[class*="st-video-leaf"] {
					margin-top: 10%;
					opacity:0;

					@media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
						margin-top: 5%;
					}

					@media (max-width: 1280px) and (min-width: 1100px) and (max-height: $screen-sm-min) {
						margin-top: 6%;
					}
				}
				
				h1 {
					margin-top:280px;
					@media (min-width: $screen-md-min) {
						margin-top:170px;
					}
					@media (min-width: $screen-lg-min) {
						margin-top:200px;
					}
					@media (min-width: $screen-lg-min) and (min-height: $screen-xs-min) {
						margin-top:150px;
						//font-size:3.5em;
					}
					@media (min-width: $screen-lg-min) and (min-height: $screen-sm-min) {
						//font-size:5.5em;
					}
				}
				.scrolling-button {
					opacity:0;
					@include transform(translate(0, 100px));
				}
			}
			.st-discover-video {
				opacity: 0.7;
				@include transform(translate(0, -5%) rotate(0.001deg));
				
			}
		}
		@media (max-height: 680px) {
			&.st-page-index {
				.st-middle-content-in {
					h1{
						font-size:3.2em;
						margin-top: 80px;
					}
				}
			}
		}
	}
}

.st-discover-video {
	@media (max-width: 980px) {
		opacity: 0.7;
		@media (max-width: $screen-md-min) {
			@include transform(translate(0, 00%) rotate(0.001deg));
		}
	}
	@media (max-height: 680px) {

		@include transform(translate(0, -10%) rotate(0.001deg));
	}
}
.vjs-poster{
	@media (max-width: 980px) {

		@include transform(translate(0, 5%) rotate(0.001deg));
	}
}

.scrolling-button {
	transition:0.25s;
	opacity: 1;
	z-index:9999999;
	@media (min-width: $screen-md-min) {
		display:block;
	    position: absolute;
	    bottom: -50%;
	    left: 0px;
	    right: 0px;
	    margin:0 auto;
		.icon-scroll,
		.icon-scroll:before {
			position: absolute;
			left: 50%;
		}

		.icon-scroll {
			width: 25px;
			height: 50px;
			margin-left: -12px;
			top: 50%;
			margin-top: -35px;
			box-shadow: inset 0 0 0 2px #7fbfe7;
			border-radius: 25px;
			&:before {
				content: '';
				width: 6px;
				height: 6px;
				background: #7fbfe7;
				margin-left: -3px;
				top: 8px;
				border-radius: 4px;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				animation-name: scroll;
			}
		}


		@keyframes scroll {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
				transform: translateY(35px);
			}
		}
	}
	@media (min-height: 800px) {
		opacity:0;
	}
}
