.st-integracion-vertical-sec {
	@media (max-width: $screen-xs-max) {
		text-align: center;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 600;
		margin-bottom: 40px;
	}

	h3 {
		font-size: 1.2em;
		color: #6e6e6e;
		line-height: 1.7;
		font-weight: 600;
	}

	.container {
		max-width: 940px;
	}
}

.st-ol-listing-plain {
	li {
		padding-left: 0;
		font-size: 1.2em;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			display: none;
		}
	}
}

.st-integrecion-info-sec {
	&.st-info-sec-1 {
		padding-top: 20px !important;
		padding-bottom: 85px !important;

		@media (max-width: $screen-xs-max) {
			padding-bottom: 45px !important;
		}
	}

	h3 {
		max-width: 670px;
		margin-left: auto;
		margin-right: auto;

		.disblk {
			font-size: 0.75em;
			line-height: 1.8;
			margin-bottom: 25px;
			text-transform: none;
		}
	}
}
