.st-manifesto-content {
	p {
		font-size: 1.2em;
		max-width: 730px;
		margin-bottom: 34px;
		color: #6e6e6e;
		line-height: 1.6;

		strong {
			font-weight: 600;
		}
	}
}

.st-big-image-panel-1 {
	.container {
		padding: 96px 30px 40px;
		width: 100%;
		max-width: 1000px;

		p.st-small-txt, p {
			font-size: 1.2em;
			font-weight: 300;
			margin-bottom: 40px;
			line-height: 1.7;
		}
	}
}

.st-footer-main {
	padding-bottom: 45px;
}

.st-full-bg-columns-1 {
	h2 {
		font-size: 1.6em;
		font-weight: 600;

		& + p {
			margin-top: 38px;
		}
	}

	p {
		font-size: 1.2em;
		line-height: 1.6;
	}

	.container {
		max-width: 900px;
	}

	.row > .col-sm-6:first-child .st-full-bg-col-in,
	.row > .col-md-6:first-child .st-full-bg-col-in {
		@media (min-width: $screen-sm-min) {
			padding-right: 30px;
		}
	}

	.row > .col-sm-6:last-child .st-full-bg-col-in,
	.row > .col-md-6:last-child .st-full-bg-col-in {
		@media (min-width: $screen-sm-min) {
			padding-left: 30px;
		}

		@media (max-width: $screen-xs-max) {
			padding-top: 0;
		}
	}
}
