.st-nuestra-gente-sec {
	padding-bottom: 0;

	.container {
		max-width: 760px;
	}

	.st-nuestraBx {
		p {
			text-align: center;
			font-size: 1.2em;
			line-height: 1.6;

			&:last-child {
				margin-bottom: 15px;
			}
		}
	}
}
