.st-planta-secado-sec {
	@media (max-width: $screen-xs-max) {
		text-align: center;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 600;
	}

	h6 {
		max-width: none;
		font-size: 1.2em;
		line-height: 1.6;
	}

	.container {
		max-width: 970px;
	}

	.secodoBx {
		h5 {
			margin: 0;
			font-size: 1.2em;
			font-weight: 600;
			line-height: 1.7;
		}
	}

	.st-bullet-list-plain {
		li {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}

	.row {
		> [class*=col-] {
			@media (min-width: $screen-md-min) {
				padding-left: 30px;
				padding-right: 30px;
			}

			& + [class*=col-] {
				@media (max-width: $screen-sm-max) {
					padding-top: 30px;
				}
			}
		}

		& + .row {
			padding-top: 45px;
		}
	}
}
