.st-planta-prod-sec {
	@include background(linear-gradient(left top, #f5fafe, $white));

	padding-bottom: 30px;

	h2 {
		font-size: 1.6em;
		line-height: 1.4;
		font-weight: 600;
	}

	.plantaBx {
		max-width: 390px;

		@media (max-width: $screen-xs-max) {
			margin-left: auto;
			margin-right: auto;
		}

		h3 {
			font-size: 1.2em;
			line-height: 1.6;
		}

		p {
			font-size: 1.2em;
			line-height: 1.6;
		}
	}

	.container {
		max-width: 890px;
	}
}

.st-planta-prod-icons {
	&.st-info-sec {
		padding-top: 0 !important;

		@media (min-width: $screen-sm-min) {
			padding-bottom: 48px !important;
		}

		[class*=col-] {
			& + [class*=col-] {
				@media (max-width: $screen-xs-max) {
					padding-top: 0;
				}

				@media (max-width: 500px) {
					padding-top: 30px;
				}
			}

			@media (max-width: 500px) {
				width: 100%;
				text-align: center;
			}
		}
	}

	.st-nuestraBx {
		p {
			font-size: 1.2em;
			margin-bottom: 55px;
		}

		.row {
			> [class*=col-] {
				&:nth-child(2) {
					@media (min-width: $screen-sm-min) {
						text-align: center;
					}
				}

				&:last-child {
					@media (min-width: $screen-sm-min) {
						text-align: right;
					}
				}
			}
		}
	}

	.container {
		max-width: 890px;
	}
}

.st-planta-icon {
	font-size: 70px;
	display: block;
	min-height: 98px;

	.sicon-ecology {
		font-size: 67px;
	}

	.sicon-secado {
		font-size: 55px;
	}

	.container {
		max-width: 890px;
	}
}

.st-planta-icon-box {
	display: inline-block;
	text-align: center;

	h4 {
		font-weight: 300;
		margin-top: 7px;
	}
}

.st-planta-list-sec {
	background: #f4f4f4;

	@media (min-width: $screen-sm-min) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	@media (max-width: $screen-xs-max) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.st-bullet-list li {
		line-height: 1.6;

		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
	}

	.container {
		max-width: 890px;
	}

	.row {
		@media (min-width: $screen-sm-min) {
			margin-left: -30px;
			margin-right: -30px;
		}

		> [class*=col-] {
			@media (min-width: $screen-sm-min) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

.st-planta-why-stevia {
	@media (min-width: $screen-sm-min) {
		padding-bottom: 70px;
	}

	.container {
		max-width: 890px;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 600;
		margin-bottom: 40px;
	}

	.st-nuestraBx {
		max-width: 390px;

		@media (max-width: $screen-xs-max) {
			margin: 0 auto;
		}

		p {
			font-size: 1.2em;
			line-height: 1.7;
		}
	}
}

.st-planta-icons-row {
	.st-stevia-in-peru-sec {
		@media (max-width: $screen-xs-max) {
			text-align: center;
		}

		h3 {
			color: #6e6e6e;
			font-size: 1.6em;
			font-weight: 600;
			margin-bottom: 33px;
		}

		.st-icon-thumb {
			background: none;
			margin-bottom: 30px;

			@media (min-width: $screen-sm-min) {
				text-align: left;
			}

			i {
				color: $secondary;

				&:before {
					margin: 0;
				}

				&.sicon-political {
					font-size: 82px;
				}

				&.sicon-gdp-growth {
					font-size: 68px;
				}

				&.sicon-idea-agricultural {
					font-size: 78px;
				}

				&.sicon-social-care {
					font-size: 82px;
				}
			}
		}

		p {
			font-weight: 300;
		}

		.st-bullet-list {
			li {
				line-height: 1.7;
				font-weight: 300;

				@media (max-width: $screen-xs-max) {
					text-align: center;
				}
			}
		}

		> [class*=col-] {
			padding-bottom: 20px;

			& + [class*=col-] {
				@media (max-width: $screen-xs-max) {
					padding-top: 40px;
				}
			}
		}

		& + .st-stevia-in-peru-sec {
			@media (max-width: $screen-xs-max) {
				padding-top: 40px;
			}
		}
	}
}

.st-planta-testmonials-sec {
	padding-bottom: 25px;
	padding-top: 25px;

	.container {
		max-width: 890px;
	}

	blockquote {
		p {
			& + p {
				margin-top: 30px;
			}
		}
	}
}

.st-planta-info-sec {
	&.st-info-sec {
		padding-bottom: 85px !important;
	}

	h3 {
		text-transform: none;
	}
}
