.st-portfolio-sg98-sec {
	@media (min-width: $screen-sm-min) {
		padding-bottom: 90px;
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.st-bullet-list {
		li {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}

	.row {
		[class*=col-] {
			& + [class*=col-] {
				@media (max-width: $screen-xs-max) {
					padding-top: 30px;
				}
			}
		}
	}
}

.st-image-sec-1 {
	background-position: center bottom;

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.container {
		max-width: 930px;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 500;
	}

	.st-bullet-list {
		li {
			color: $white;

			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}
}

.st-portfolio-sg98-contact {
	padding-top: 65px;
	padding-bottom: 65px;

	#panelContacto {
		p {
			&:first-child {
				margin-bottom: 40px;
			}
		}
	}

	h3 {
		margin-bottom: 7px;
	}
}
