.st-page-productos {
	.st-common-sec {
		&.st-common-center-text{
			padding-bottom:0;
			font-family: "Brandon Grotesque";
			font-size:20px;
			p {
				line-height:1.2;
			}
		 	@media (min-width: $screen-md-min) {
				font-size:36px;
			}
		}
	}
 	.st-full-bg-columns {
 		&.st-full-bg-columns-1 {
	 		.st-tbl-row {
	 			.col-sm-4 {
	 				vertical-align: top;
	 				&.color-1 {
	 					h2 {
	 						color:#7cbcea;
	 					}
	 				}
	 				&.color-2 {
	 					h2 {
	 						color:#ea8215;
	 					}
	 				}
	 				&.color-4 {
	 					h2 {
	 						color:#6dac3b;
	 					}
	 				}
		 			.st-full-bg-col-in {
		 				font-family: "Brandon Grotesque Regular";
						h2 {
			 				font-family: "Brandon Grotesque";
							font-size: 1.2em;
							font-weight: 600;
			 				text-align: center;

							& + p {
								margin-top: 38px;
							}
						}

						p {
							font-size: 1.2em;
							line-height: 1.6;
							font-weight:300;
			 				text-align: center;
			 				color:#434142;
						}
					 	@media (min-width: $screen-sm-min) {
					 		padding-left:20px;
					 		padding-right:20px;
					 	}
					 	@media (min-width: $screen-lg-min) {
			 				padding-top:20px;
							background-repeat:no-repeat;
							background-position: 0px 80px;
						}
		 			}
	 			}
	 		}
 		}
	}
	section > .container {
	 	@media (min-width: $screen-lg-min) {
	 		max-width:1000px;
	 	}
		.product-thumb {
			padding:30px;
			text-align:left;
			> .col-xs-12 {
				@include box-shadow(0px 0px 40px 0px rgba(0,0,0,0.2));
				>.row {
					display:table;
					.col-xs-5 {
						float:none;
						display:table-cell;
						height:100%;
						padding:0;
						background-repeat:no-repeat;
						background-size: cover;
				 		vertical-align:middle;
					}
					.col-sm-7 {
						float:none;
						display:table-cell;
						padding:20px;
				 		vertical-align:middle;
						* {
							font-family: Montserrat;
							color:#626262;
							font-weight:300;
						}
						h2 {
							font-weight:600;
							font-size:25px;
							color:#626262;
							letter-spacing: 7px;
							text-align:left;
						 	@media (min-width: $screen-lg-min) {
						 		font-size:35px;
						 	}
						}
						p {
							margin: 20px 0;
							text-align:left;
			 				strong {
			 					font-weight:600;
			 				}
						}
						@media(min-width $screen-md-min) {
							padding:60px;
							padding-right:40px;
						}
					}
				 	@media (min-width: $screen-lg-min) {
				 		min-height:500px;
				 		.col-xs-5 {
				 			height:500px;
				 		}
				 	}
				}
			}
			&#stevio {
				.row .col-xs-5 {
					background-image:url('../images/productos/stevio.png');
				}
				h2 {
					color:#7cbcea;
					@media (min-width: $screen-lg-min) {
						&:before {
							content:'STEVI-O';
							font-family: Montserrat;
							font-size:80px;
							font-weight:600;
							text-align:center;
							letter-spacing: 15px;
							color:#f4f4f4;
							z-index:-1;
							margin-top:-25px;
							position:absolute;
							left:-60px;
							right:0;
						}
					}
				}
				p {
					a {
						background-color:#7cbcea;
						color:#fff;
					}
				}
				i.leaf {
					&:after {
						top:0px;
					}
				}
			}
			&#stevix {
				.row .col-xs-5 {
					background-image:url('../images/productos/stevix.png');
				}
				h2 {
					color:#6cac3b;
					@media (min-width: $screen-lg-min) {
						&:before {
							content:'STEVI-X';
							font-family: Montserrat;
							font-size:80px;
							font-weight:600;
							text-align:center;
							letter-spacing: 15px;
							color:#f4f4f4;
							z-index:-1;
							margin-top:-25px;
							position:absolute;
							left:-60px;
							right:0;
						}
					}
				}
				p {
					a {
						background-color:#6cac3b;
						color:#fff;
					}
				}
				i.leaf {
					&:after {
						left:200px;
						top:-50px;
					}
				}
			}
		}
	}
 }
