.st-valores-sec {
	padding-top: 70px;
	padding-bottom: 60px;
	background: #f4f4f4;
	text-align: center;

	h2 {
		font-size: 1.6em;
		font-weight: 500;

		& + p, & + ul {
			margin-top: 37px;
		}
	}

	ul {
		&.st-bullet-list {
			li {
				font-weight: 300;
				line-height: 1.6;
				text-align: center;
				padding-left: 0;
				font-size: 1.2em;

				&:before {
					display: none;
				}
			}
		}
	}
}

.st-info-sec-1, .st-info-sec-2 {
	&.st-info-sec {
		padding-top: 68px !important;
		padding-bottom: 58px !important;
	}

	h3 {
		font-size: 1.6em;
		text-transform: uppercase;
		text-align: center;
	}

	&.st-nuestra-gente-info {
		padding-bottom: 68px !important;
	}
}

.st-info-sec-2 {
	h3 {
		span {
			font-size: 0.75em;
			text-transform: none;
		}
	}
}
