.st-stevia-tomorrow-header {
	height: 820px;
	background-position: center 85%;

	@media (min-width: $screen-sm-min) {
		height: 100vh;
	}

	@media (max-width: $screen-sm-max) {
		height: 620px;
	}

	&:before {
		height: 40%;
		background: none;

		@include background-image(linear-gradient(top, rgba(#e4f1fb, 1) 30%, rgba(#e4f1fb, 0) 100%));
	}

	h1 {
		color: #7cbdeb;
		position: relative;
		display: inline-block;

		small {
			color: #7cbdeb;

			&:before {
				border-top-color: #7cbdeb !important;
			}
		}
	}

	.st-header-link {
		color: #7cbdeb;
		bottom: 120px;
		font-size: 53px;

		@media (max-width: $screen-xs-max) {
			font-size: 30px;
		}
	}

	.st-tbl {
		@media (max-height: 700px) and (min-width: $screen-sm-min) {
			padding-top: 100px;
		}

		.st-tbl-cell {
			vertical-align: top;

			@media (min-width: $screen-sm-min) {
				padding-top: 5%;
			}

			@media (max-height: 700px) and (min-width: $screen-sm-min) {
				padding-top: 0;
			}
		}
	}
}

.st-heading-leaf-1, .st-heading-leaf-2 {
	position: absolute;
	right: 115%;
	display: block;
	width: 103px;
	top: 60%;

	@include user-select(none);

	@media (max-width: 520px) {
		right: auto;
		left: -60px;
		width: 80px;
		top: 0;
	}

	img {
		max-width: 100%;
		width: auto;
	}
}

.st-heading-leaf-2 {
	left: 110%;
	right: auto;
	top: 35%;
	width: 135px;

	@media (max-width: 520px) {
		left: auto;
		right: -50px;
		width: 90px;
		top: 65%;
	}
}

.st-tomorrow-today-desc-sec {
	&.st-round-icon-sec {
		padding-top: 50px;
	}

	h2 {
		color: #7cbdeb;
		font-weight: normal;
	}

	.container {
		max-width: 520px;
		position: relative;
	}

	.st-rounded-icon-box {
		width: 100px;
		height: 77px;

		.st-rounded-icon-wrap {
			i {
				font-size: 108px;
				color: #7cbcea;
				margin-bottom: 0;
			}
		}
	}
}

.stevia-tomorrow-today-leaf-3,
.stevia-tomorrow-today-leaf-4 {
	position: absolute;
	right: 110%;
	top: -20%;
	width: 304px;

	@include user-select(none);

	@media (max-width: 1300px) {
		right: 100%;
	}

	@media (max-width: 1150px) {
		width: 200px;
	}

	@media (max-width: $screen-sm-max) {
		width: 110px;
		top: 0;
	}

	@media (max-width: $screen-xs-max) {
		right: auto;
		left: 0;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.stevia-tomorrow-today-leaf-4 {
	left: 110%;
	right: auto;

	@media (max-width: 1300px) {
		left: 100%;
	}

	@media (max-width: $screen-xs-max) {
		left: auto;
		right: 0;
		top: 100%;
	}
}

.st-tomorrow-today-icons-list {
	text-align: center;

	&.st-info-sec {
		padding-top: 0 !important;

		@media (min-width: $screen-md-min) {
			padding-bottom: 100px !important;
		}
	}

	.st-info-block {
		font-size: 1.2em;
		color: #7cbdeb;
		font-weight: 300;
		max-width: 235px;
		margin: 0 auto;
	}
}

.st-tomorrow-today-icon {
	height: 110px;
	line-height: 100px;
	color: #7cbdeb;
	font-size: 80px;

	i {
		&.sicon-certificate {
			font-size: 68px;
		}

		&.sicon-water-1 {
			font-size: 63px;
		}
	}
}

.st-menu-active .navbar-brand, .st-innerpage.st-menu-active:not(.st-navbar-light) .navbar-brand {
	@media (max-width: $screen-sm-max) {
		background-position: center -2px;
	}

	@media (max-width: $screen-xs-max) {
		background-position: center 0;
	}
}
