.st-page-stevi-o {
	section.title {
		h2 {
			color:#7cbcea;
			font-family: Montserrat;
			font-size:20px;
			font-weight:600;
			margin-top:80px;
			margin-bottom:20px;
			text-align:center;
			letter-spacing: 7px;
			z-index:1000;
			@media (min-width: $screen-md-min) {
				font-size:40px;
				margin-bottom:120px;
				margin-bottom:140px;
				&:before {
					content:'STEVI-O';
					font-family: Montserrat;
					font-size:80px;
					font-weight:600;
					text-align:center;
					letter-spacing: 15px;
					color:#f4f4f4;
					z-index:-1;
					margin-top:-25px;
					position:absolute;
					left:0;
					right:0;
				}
			}
		}
	}
	section.body-content {
		p {
			text-align:justify;
			margin:10px 0;
		}
		img {
			max-width:100%;
			@include box-shadow(0px 0px 40px 0px rgba(0,0,0,0.2));
		}
		h3 {
			font-size:16px;
			color:#000;
			margin-top:20px;
			margin-bottom:10px;
		}
		ul {
			list-style:none;
			li {
				text-align:justify;
				&:before {
					content: "\25AA";
					color: #7cbcea;
					font-weight: bold;
					display: inline-block;
					width: 1em;
					margin-left: -1em;
				}
			}
		}
		.button-transparent {
			padding:10px;
			display:inline-block;
			width:auto;
			color:#7cbcea;
			background-color:transparent;
			text-transform:uppercase;
			border:1px solid #7cbcea;
			@include border-radius(5px);
			@media (min-width: $screen-md-min) {
				background-image:url('../images/background-pdf.png');
				background-repeat:no-repeat;
				background-position: 10px 12px;
				padding-left:35px;
			}
		}
		.buttons {
			margin:40px 0 20px 0;
			text-align:center;
			&.transparent {
				@media (min-width: $screen-md-min) {
					text-align:left;
				}
			}
		}
	}
}