.st-rainforest-sec {
	.st-rounded-icon-box {
		width: 170px;
		height: auto;

		.st-rounded-icon-box-in {
			vertical-align: top;
		}
	}

	.container {
		max-width: 680px;
	}

	h2, p {
		font-size: 1.2em;
		color: #44b029;
		line-height: 1.6;
	}

	.st-tbl-row {
		> [class*=col-] {
			vertical-align: top;

			&:first-child {
				padding-right: 0;
			}
		}
	}
}

.st-rainforest-info-sec {
	background: #44b029;
	color: $white;
	text-align: center;

	&.st-info-sec {
		@media (min-width: $screen-sm-min) {
			padding-top: 60px !important;
			padding-bottom: 60px !important;
		}
	}

	h2, p {
		color: $white;
		line-height: 1.6;
	}

	h2 {
		font-size: 2em;
		font-weight: 500;
		margin-bottom: 50px;
	}

	p {
		font-size: 1.2em;

		&:last-child {
			margin-bottom: 0;
		}

		& + p {
			margin-top: 35px;
		}
	}

	.container {
		max-width: 1090px;
	}
}

.st-rainforest-listings {
	&.st-round-icon-sec {
		@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
			padding-top: 40px;
			padding-bottom: 20px;
		}

		@media (min-width: $screen-md-min) {
			padding-top: 40px;
			padding-bottom: 100px;
		}
	}
}

.st-ol-listing {
	h4 {
		font-weight: 500;
		color: #43b02a;
		font-size: 1em;
		text-transform: uppercase;
		margin-bottom: 25px;
		margin-top: 0;
		line-height: 1.6;

		@media (min-width: $screen-md-min) {
			max-width: 510px;
		}

		@media (max-width: $screen-xs-max) {
			max-width: none;
		}
	}

	p {
		@media (min-width: $screen-md-min) {
			max-width: 510px;
		}

		@media (max-width: $screen-xs-max) {
			max-width: none;
		}
	}
}

.st-rainforest-listings {
	.container {
		max-width: 1230px;
	}

	h5 {
		text-align: center;
		margin-bottom: 90px;
		color: $secondary;
		font-weight: 300;
		line-height: 1.5;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 40px;
		}

		strong {
			font-weight: 600;
		}
	}

	.st-ol-listing {
		li {
			&:not(:last-child) {
				margin-bottom: 25px;

				@media (max-width: $screen-xs-max) {
					margin-bottom: 30px;
				}
			}

			@media (max-width: $screen-xs-max) {
				text-align: center;
			}

			p {
				margin-top: 23px;
				line-height: 1.6;

				@media (max-width: $screen-xs-max) {
					text-align: center;
				}
			}
		}
	}

	.rainBx {
		margin-bottom: 0;
	}
}

.st-listing-twocol {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		@media (min-width: $screen-sm-min) {
			float: left;
			width: 50%;
		}

		&:nth-child(2n) {
			@media (min-width: $screen-sm-min) {
				padding-left: 30px;
			}

			@media (min-width: $screen-md-min) {
				padding-left: 70px;
			}
		}

		&:nth-child(2n+2) + li {
			clear: left;
		}
	}
}

.st-medal-icon-bg {
	position: absolute;
	font-size: 500px;
	color: #ececec;
	top: 50%;
	line-height: 500px;

	@include transform(translate(0, -58%));

	left: 12%;

	@media (max-width: 1300px) {
		left: 0;
	}

	@media (max-width: $screen-sm-max) {
		left: -20%;
	}

	@media (max-width: $screen-xs-max) {
		left: auto;
		right: 0;
	}
}

.st-medal-sec {
	background: #f4f4f4;
	text-align: center;
	position: relative;
	overflow: hidden;
	padding-top: 120px;
	padding-bottom: 55px;

	.st-medal-icon {
		position: absolute;
		left: 50%;
		font-size: 90px;
		line-height: 90px;

		@include transform(translate(-50%, 0));

		color: $secondary;
		top: -4px;
	}

	h3 {
		font-size: 1.2em;
		max-width: 440px;
		margin: 0 auto;
		width: 100%;
		line-height: 1.6;
	}
}
