.st-contact-trabaja-desc {
	font-family: Montserrat;
	h2 {
		font-size:18px;
		font-weight:600;
		text-align:center;
		color:#6e6e6e;
		line-height:1.5;
	}
	p {
		font-size:18px;
		color:#6e6e6e;
		line-height:1.5;
		text-align:center;
		font-weight:300;
		margin: 15px 0;
	}
	.boxed {
		color:#fff;
		background-color:#43b02a;
		font-weight:300;
		padding:20px;
		@include border-radius(10px);
		width:100%;
		a {
			color:inherit;
		}
		@media (min-width: $screen-md-min) {
			max-width:600px;
			margin:30px auto;
		}
	}
}