.st-twocol-desc-sec {
	padding-bottom: 5px;

	h2 {
		font-size: 1.6em;
		font-weight: 600;
		line-height: 1.2;
	}

	.container {
		max-width: 930px;
	}

	h5, h6 {
		font-size: 1.2em;
		color: #6e6e6e;
		font-weight: 300;
	}

	h6 {
		margin-bottom: 5px;
	}

	p {
		font-size: 1.2em;
		color: #6e6e6e;
		font-weight: 300;
		line-height: 1.6;

		& + p {
			margin-top: 30px;
		}
	}

	.row {
		> [class*=col-] {
			@media (max-width: $screen-xs-max) {
				& + [class*=col-] {
					padding-top: 30px;
				}
			}
		}
	}

	.trazablesBx {
		@media (min-width: $screen-md-min) {
			margin-left: -30px;
			margin-right: -30px;

			> [class*=col-] {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.st-bullet-list-plain {
		li {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}
}

.st-trazabilidad-info-sec {
	&.st-info-sec {
		@media (min-width: $screen-sm-min) {
			padding-bottom: 78px !important;
		}
	}

	.container {
		max-width: 720px;
	}
}

.st-bluegr-bg {
	@include background(linear-gradient(left top, #f5fafe, $white));
}
