.st-page-nuestra-propuesta-unica {
 	.st-full-bg-columns {
 		&.st-full-bg-columns-1 {
	 		.st-tbl-row {
	 			.col-sm-4 {
	 				vertical-align: top;
	 				&.color-1 {
	 					h2 {
	 						color:#7cbcea;
	 					}
	 				}
	 				&.color-2 {
	 					h2 {
	 						color:#ea8215;
	 					}
	 				}
	 				&.color-3 {
	 					h2 {
	 						color:#658c7b;
	 					}
	 				}
		 			.st-full-bg-col-in {
		 				font-family: "Brandon Grotesque Regular";
						h2 {
			 				font-family: "Brandon Grotesque";
							font-size: 1.2em;
							font-weight: 600;
			 				text-align: center;

							& + p {
								margin-top: 38px;
							}
						}

						p {
							font-size: 1.2em;
							line-height: 1.6;
							font-weight:300;
			 				text-align: center;
			 				color:#434142;
						}
					 	@media (min-width: $screen-sm-min) {
					 		padding-left:20px;
					 		padding-right:20px;
					 	}
					 	@media (min-width: $screen-lg-min) {
							background-repeat:no-repeat;
							background-position: 0px 80px;
							&#mision {
								background-image:url('../images/quienes-somos/icon-flag.png');
							}
							&#vision {
								background-image:url('../images/quienes-somos/icon-eye.png');
							}
							&#valores {
								background-image:url('../images/quienes-somos/icon-diamond.png');
							}
						}
		 			}
	 			}
	 		}
 		}
 	}
 }
