$font:'Montserrat', Arial, Helvetica, sans-serfi;
$fontQuicksand:'Quicksand', Arial, Helvetica, sans-serfi;
$fontMuseo:'MuseoSans', Arial, Helvetica, sans-serfi;
$fontBrandon:'Brandon Grotesque', Arial, Helvetica, sans-serfi;
$white:#fff;
$black:#000;
$blue:#25a9df;
$lime-green:#4d907a;
$theme:#fff;
$secondary:#43b02a;
$primary:#43b02a;
$menuTxtColor:#7a7a7a;
$bodyTxtColor:#7a7a7a;
$divider:#d8d0c7;
$footerTxtColor:#3c3c3c;
$placeholderColor:#c3bdb7;
$headerTitleDivider:#d6d8d9;
$grayBg:#f3f3f3;
$fontGray:#7a7a7a;
$third:#ea8118;