.st-vivero-sec {
	@media (min-width: $screen-sm-min) {
		padding-bottom: 50px;
	}

	h2 {
		font-weight: 600;
		font-size: 1.6em;
		text-align: left;

		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
	}

	.st-bullet-list {
		li {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}

	.container {
		max-width: 860px;
	}
}

.st-vivero-desc {
	@media (min-width: $screen-sm-min) {
		max-width: 400px;
	}
}

.st-info-vivero-sec {
	.container {
		max-width: 820px;
	}
}
