@import "compass";
@import "bootstrap";
@import "animate";
@import "selectbox/bootstrap-select";
@import "variables";
@import "custom-icons";
@import "video";
@import "_fonts";

body, html {
	height: auto;

	@media (min-width: $screen-sm-min) {
		height: 100%;
		/*-webkit-overflow-scrolling:touch;*/
	}
}

body {

	
	background: $white;
	background-size: cover;
	font-size: 13px;
	font-family: $font;
	color: $bodyTxtColor;

	@media (min-width: $screen-sm-min) {
		font-size: 15px;
	}

	&.st-menu-active {
		overflow: hidden;
		@media (min-width: $screen-md-min) {
			overflow: initial;
		}
	}

	&.st-innerpage {
		background: none;

		.st-middle-sec {
			padding-bottom: 0;
			@media (min-width: $screen-sm-min) {
				padding-bottom: auto;
			}
		}
	}
	&:not(.st-menu-active) {
		.navbar-default {
			&:not(.st-nav-collapsed) {}
		}
	}
}

@mixin hr_repeater($a: 0) {
	&-#{$a} {
		margin-top: #{$a}px;
		margin-bottom: #{$a}px;
	}
}

@mixin attrib_repeater($a: margin, $b: 0) {
	&-b-#{$b} {
		#{$a}-bottom: #{$b}px !important;
	}

	&-t-#{$b} {
		#{$a}-top: #{$b}px !important;
	}

	&-l-#{$b} {
		#{$a}-left: #{$b}px !important;
	}

	&-r-#{$b} {
		#{$a}-right: #{$b}px !important;
	}
}

.st-mar {
	@include attrib_repeater(margin, 0);
	@include attrib_repeater(margin, 5);
	@include attrib_repeater(margin, 10);
	@include attrib_repeater(margin, 15);
	@include attrib_repeater(margin, 20);
	@include attrib_repeater(margin, 25);
	@include attrib_repeater(margin, 30);
	@include attrib_repeater(margin, 35);
	@include attrib_repeater(margin, 40);
	@include attrib_repeater(margin, 45);
	@include attrib_repeater(margin, 50);
	@include attrib_repeater(margin, 55);
	@include attrib_repeater(margin, 60);
	@include attrib_repeater(margin, 65);
	@include attrib_repeater(margin, 70);
	@include attrib_repeater(margin, 75);
	@include attrib_repeater(margin, 80);
	@include attrib_repeater(margin, 85);
	@include attrib_repeater(margin, 90);
}

.st-pad {
	@include attrib_repeater(padding, 0);
	@include attrib_repeater(padding, 5);
	@include attrib_repeater(padding, 10);
	@include attrib_repeater(padding, 15);
	@include attrib_repeater(padding, 20);
	@include attrib_repeater(padding, 25);
	@include attrib_repeater(padding, 30);
	@include attrib_repeater(padding, 35);
	@include attrib_repeater(padding, 40);
	@include attrib_repeater(padding, 50);
	@include attrib_repeater(padding, 55);
	@include attrib_repeater(padding, 60);
	@include attrib_repeater(padding, 65);
	@include attrib_repeater(padding, 70);
	@include attrib_repeater(padding, 75);
	@include attrib_repeater(padding, 80);
	@include attrib_repeater(padding, 85);
	@include attrib_repeater(padding, 90);
	@include attrib_repeater(padding, 95);
}

hr {
	&.st-hr-blank {
		border-color: transparent !important;
	}

	&.st-hr {
		@include hr_repeater(0);
		@include hr_repeater(5);
		@include hr_repeater(10);
		@include hr_repeater(15);
		@include hr_repeater(20);
		@include hr_repeater(25);
		@include hr_repeater(30);
		@include hr_repeater(35);
		@include hr_repeater(40);
		@include hr_repeater(45);
		@include hr_repeater(50);
		@include hr_repeater(55);
		@include hr_repeater(60);
		@include hr_repeater(65);
		@include hr_repeater(70);
		@include hr_repeater(75);
		@include hr_repeater(80);
		@include hr_repeater(85);
		@include hr_repeater(90);
		@include hr_repeater(95);
		@include hr_repeater(100);
	}
}

p {
	strong {
		font-weight: 500;
	}

	&.st-small-heading {
		margin-top: 42px;
		margin-bottom: 23px;
	}

	text-align: center;
	@media (min-width: $screen-sm-min) {
		text-align: initial;
	}
}

.st-font-quicksand {
	font-family: $fontQuicksand;
}

.st-underline {
	text-align: center;

	&:after {
		content: '';
		display: block;
		width: 68px;
		height: 7px;
		background: $blue;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: $screen-sm-min) {
		&:after {
			margin: 25px 0 0;
		}
	}

	&-thin {
		&:after {
			height: 1px;
		}
	}

	&-primary {
		&:after {
			background: $primary;
		}
	}

	&-secondary {
		&:after {
			background: $secondary;
		}
	}

	&-lime-green {
		strong {
			font-weight: 500;
		}

		&:after {
			background: $lime-green;
		}
	}

	&-space-50 {
		&:after {
			margin-top: 43px;
		}
	}

	&-space-15 {
		&:after {
			margin-top: 15px;
		}
	}

	&-space-20 {
		&:after {
			margin-top: 20px;
		}
	}

	&-space-35 {
		&:after {
			margin-top: 27px;
		}
	}
}

h1 {
	margin: 0;
	font-weight: normal;
	color: $theme;
	font-size: 2.5em;
	@media (min-width: $screen-sm-min) {
		font-size: 2.8em;
	}
	@media (min-width: $screen-md-min) {
		font-size: 3.202em;
	}
	@media (min-width: $screen-lg-min) {
		font-size: 4.202em;
	}
}

h3 {
	margin: 0;
	padding: 0;
	color: $primary;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.3;

	@media (min-width: $screen-sm-min) {
		font-size: 1.6em;
	}

	&.st-small-heading {
		font-size: 1.467em;
	}

	&.st-green {
		color: $secondary;
	}

	&.st-title-underline {
		text-align: center;
		@media (min-width: $screen-sm-min) {
			text-align: initial;
		}

		&:after {
			content: '';
			display: block;
			width: 68px;
			height: 7px;
			background: $primary;
			margin-top: 22px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: $screen-sm-min) {
				margin-left: initial;
				margin-right: initial;
			}
		}

		& + .st-info-media {
			margin-top: 32px;
		}

		&.st-green {
			color: $secondary;

			&:after {
				background: $secondary;
			}
		}

		&.st-grey {
			color: $bodyTxtColor;

			&:after {
				background: $secondary;
			}
		}

		&.st-title-underline-space-50 {
			&:after {
				margin-top: 50px;
			}
		}
	}

	& + .form-horizontal {
		padding-top: 53px;
	}

	span {
		font-weight: 300;
	}

	& + p {
		margin-top: 35px;
	}
}

h4 {
	&.st-md-heading {
		font-size: 1.333em;
	}

	&.st-color-secondary {
		a {
			color: $secondary;

			&:hover, &:focus, &:active {
				color: $primary;
			}
		}
	}
}

.st-color-secondary {
	color: $secondary;
}

.st-color-primary {
	color: $primary;
}

.st-color-gray {
	color: $fontGray;
}

.st-bg-theme {
	background: $theme;
}

.st-bg-gray {
	background: $grayBg;
}

.st-big-desc {
	p {
		font-size: 1.332em;
	}
}

.st-font-light {
	font-weight: 300;
}

.st-font-bold {
	font-weight: bold !important;
}

.st-font-normal {
	font-weight: normal !important;
}

.st-font-medium {
	font-weight: normal !important;
}

h2 {
	text-transform: uppercase;
	font-weight: normal;
	color: $secondary;
	line-height: 1.03;
	margin: 0 0 33px;
	font-size: 1.8em;
	text-align: center;

	@media (min-width: $screen-sm-min) {
		font-size: 2.3em;
		text-align:initial;
	}

	@media (min-width: $screen-md-min) {
		font-size: 3.2em;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 3.639em;
	}

	&.st-small-desc {
		font-size: 1.5em;
		margin: 0;
		color: $bodyTxtColor;
		font-weight: 300;
		line-height: 1.4;
		text-transform: none;

		@media (min-width: $screen-sm-min) {
			font-size: 1.800em;
		}

		strong {
			font-weight: 600;
		}

		a {
			color: $bodyTxtColor;
			text-decoration: none;
			outline: none;

			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}

.st-hr-primary {
	border-color: $primary;
	margin-top: 26px;
	margin-bottom: 35px;
}

h5 {
	margin: 0 0 10px;
	color: $secondary;
	font-size: 1em;
	font-weight: normal;
}

a {
	color: $primary;
	text-decoration: none;

	&:hover, &:focus, &:active {
		color: $secondary;
		text-decoration: none;
	}

	&.st-link-secondary {
		color: $secondary;

		&:hover, &:focus, &:active {
			color: $primary;
		}
	}
}

.navbar-brand {
	padding: 0;
	background: image-url("logo-white-new.svg") no-repeat center -108px;
	background-size: 98% auto;
	background-position: center -63px;
	width: 149px;
	height:66px;
	font-size: 0;
	z-index: 1000;
	position: relative;

	@media (min-width: $screen-sm-min) {
		width: 232px;
		height: 105px;
		background-position: center -108px;
	}

	.st-innerpage:not(.st-navbar-light) .navbar-default & {
		background: image-url("logo-white-new.svg") no-repeat center -3px;
		background-size: 98% auto;
		background-position: center -1px;

		@media (min-width: $screen-sm-min) {
			background-position: center -3px;
		}
	}

	@include transition-delay(0.5s);

	img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.st0 {
		fill: $white;
	}

	.st-nav-collapsed & {
		.st-innerpage:not(.st-navbar-light) & {
			background-position: center -108px;

			@media (max-width: $screen-xs-max) {
				background-position: center -63px;
			}
		}
	}

	&.active {
		.st-innerpage:not(.st-navbar-light) .navbar-default & {
			background-position: center -108px;
		}
	}

	.st-menu-active &, .st-innerpage.st-menu-active:not(.st-navbar-light) & {
		z-index: 999;

		@include transition-delay(0.1s);
		background-position: center -63px;

		@media (min-width: $screen-sm-min) {
			background-position: center -108px;
		}
		@media (min-width: $screen-md-min) {
			background-position: center -108px;
		}
	}
}

.navbar-default {
	background: none;

	@include border-radius(0);

	padding-top: 18px;
	border: none;

	@include transition(all 0.3s ease-in-out);

	.navbar-header {
		padding-left: 15px;
		@media (min-width: $screen-md-min) {
			padding-left: initial;
		}
	}

	&.navbar-fixed-top {
		position: fixed;

		@include transform(translateZ(0));

		&.st-nav-collapsed {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		padding-top: 13px;
		padding-bottom: 13px;
		background: rgba($theme, 0);
		background: rgba(#44b029, 0);

		@media (min-width: $screen-md-min) {
			padding-top: 18px;
			padding-bottom: initial;
			background: transparent;
		}
	}

	.st-menu-active & {
		background: $white;
		background: rgba(#44b029, 0);

		@include transition(all 0.4s ease-in);
		@media (min-width: $screen-md-min) {
			background: initial;
			@include transition(none);
		}
	}

	.navbar-toggle {
		background: rgba($white, 0);
		border: none;
		display: inline-block;
		z-index: 9999;
		padding: 13px;
		margin: 0;

		@media (min-width: $screen-md-min) {
			padding: 20px;
			margin: initial;
			margin-right: 0;
			margin-top: 20px;
		}

		.icon-bar {
			width: 29px;
			height: 3px;
			background: $secondary;
			background: $white;
			position: relative;

			@include transition(all 0.2s ease-in-out);
			@include transform(translate(0, 16px) rotate(39deg));

			& + .icon-bar {
				@include transform(translate(0, 6px) rotate(-39deg));

				margin-top: 6px;
			}

			& + .icon-bar + .icon-bar {
				@include opacity(0);

				margin-top: 6px;
			}
		}

		&:hover, &:focus, &:active {
			background-color: rgba($primary, 0) !important;

			.icon-bar {
				background: $secondary;
			}
		}

		&.collapsed {
			background: rgba($primary, 0);

			.icon-bar {
				@include transform(none);

				background: $secondary;

				& + .icon-bar + .icon-bar {
					display: block;

					@include opacity(1);
				}
			}

			&:hover, &:focus, &:active {
				background: #0051a3;

				.icon-bar {
					background: $secondary;
				}
			}
		}

		&:hover, &:focus {
			background: #000;

			.icon-bar {
				background: $primary;
				background: $white;
			}
		}
	}

	> .container {
		z-index: inherit;
		position: relative;

		@media (min-width: $screen-md-min) {
			z-index: 1;
			position: initial;
		}
	}

	.st-menu-active & {
		> .container {
			// z-index:999;
			position: relative;
		}
	}

	&.st-nav-collapsed {
		background: $white;

		.navbar-toggle {
			&.collapsed {
				.icon-bar {
					background: $primary;
					background: $secondary;
				}
			}
		}
	}
}

.container {
	width: 100%;
	max-width: 1262px;
	padding-left: 15px;
	padding-right: 15px;

	@media (min-width: $screen-sm-min) {
		padding-left: 30px;
		padding-right: 30px;
	}

	&-sm {
		max-width: 655px;
	}

	&-md {
		max-width: 980px;
	}

	&-lg {
		max-width: 1170px;
	}

	&-xl {
		max-width: 1262px;
	}

	&-600 {
		max-width: 630px;
	}

	&-800 {
		max-width: 830px;
	}
}

.st-lng-menu {
	float: none;
	position: static;
	margin-left: -15px;
	margin-right: -15px;

	.breadcrumb {
		padding-right: 0;
		padding-left: 0;
	}

	@media (min-width: $screen-md-min) {
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 0;
	}
	@media (min-width: $screen-lg-min) {
		float: right;
		position: initial;
		margin: initial;
		top: initial;
		right: initial;
		padding-right: 74px;
	}
}

.st-main-menu {
	float: none;

	@media (min-width: $screen-md-min) {
		float: left;
	}

	> .col-sm-4 {
		&:hover, &:focus {
			.nav-pills {
				@media (min-width: $screen-md-min) {
					display: block;

					@include animation(fadeIn 0.3s ease-in);
				}
			}
		}
	}
}

.st-main-menu-wrap {
	position: static;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	padding: 0;

	@media (min-width: $screen-md-min) {
		position: fixed;
		display: initial;
		align-items: initial;
		width:auto;
		padding: initial;
		left: 0;
		right: 0;
		top: 0;
		padding: 0 15px;
	}

	&:before {
		@media (min-width: $screen-md-min) {
			content: '';
			background: $white;
			background: #44b029;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			@include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1));
			@include transform(translate(0, -100%));
			@include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 3px);

			z-index: 1001;

			.st-nav-collapsed & {
				@include box-shadow(rgba(0, 0, 0, 0) 0 2px 3px);
			}
		}
	}

	.container {
		@media (min-width: $screen-md-min) {
			@include transition(all 0.6s cubic-bezier(0.77, 0, 0.175, 1));
			@include transform(translate(0, -100%));

			padding: 18px 30px;
			z-index: 1002;
			position: relative;

			.navbar-brand {
				background-position: 0px 0px;
				margin-right:30px;
			}
		}

		vertical-align: top;
		@media (min-width: $screen-md-min) {
			vertical-align: initial;
		}
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	.breadcrumb a {
		font-size: 12px;
	}

	@media (min-width: $screen-md-min) {
		.st-dropmenu.st-menu-active &, .st-dropmenu.st-menu-active & {
			&:before {
				@include transform(translate(0, 0));
				@include transition(all 0.5s cubic-bezier(0.77, 0, 0.175, 1));
			}

			.container {
				@include transform(translate(0, 0));
				@include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1));
			}
		}
	}
}

.st-dropmenu {
	padding: 0 15px 0 15px;

	//background:$white;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999;

	/*overflow:auto;
	-webkit-overflow-scrolling:touch;*/
	@media (min-width: $screen-md-min) {
		display: block !important;
		overflow: visible;
		bottom: auto;
	}

	@media (max-width: 991px) {
		/*visibility:hidden;
		display:none;
		@include opacity(0);*/
		height: 100vh;
		overflow: hidden;
	}

	@media (max-width: 767px) {
		top: 0;
		padding-top: 0;
	}

	//@include transition(all 0.3s ease-in-out);
	&.st-menu-active {
		visibility: visible;

		@include opacity(1);

		display: block;

		@media (max-width: $screen-sm-max) {
			background: $theme;
			background: #44b029;
		}
	}

	.nav-pills {
		padding-top: 15px;

		@media (min-width: $screen-md-min) {
			position: absolute;
			left: 50%;
			width: 300px;
			top: 100%;
			display: none;
			background: #43b02a;
			text-align: left;
			padding-left: 16px;
			padding-right: 16px;

			@include transform(translate(-50%, 0));
			@include box-shadow(rgba(0, 0, 0, 0.1) 0 4px 5px);
		}

		@media (max-width: $screen-sm-max) {
			padding-top: 0;
			text-align: center;
			border-top: 1px solid rgba(#f0b323, 0.3);
			border-top: 1px solid rgba($white, 0.3);

			//background:rgba($white, 0.2);
			// @include background(linear-gradient(rgba($white, 0.5), rgba($white, 0.1)));
			> li {
				/* &:first-child{
				   padding-top:20px;
				 }
				 &:last-child{
				   padding-bottom:20px;
				 }*/
			}
		}

		> li {
			@media (min-width: $screen-md-min) {
				text-align: center;

				& + li {
					border-top: 1px solid rgba(#fff, 0.3);
				}
			}

			> a {
				color: #fff;
				padding: 15px 10px;
				font-weight: 500;
				font-size: 0.933em;

				@include transition(all 0.2s ease-in-out);

				@media (max-width: $screen-sm-max) {
					color: $white;
				}

				&:hover, &:focus, &:active {
					color: #fff;
					background: none;

					@media (max-width: $screen-sm-max) {
						color: $white;
					}
				}
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					font-weight: 300;

					@media (min-width: $screen-md-min) {
						border-top: 1px solid rgba(#f0b323, 0.3);
					}

					a {
						padding: 15px 10px;
						display: block;
						color: $menuTxtColor;

						@media (max-width: $screen-sm-max) {
							color: $white;
						}

						&:hover, &:focus, &:active {
							text-decoration: none;
							color: $secondary;

							@media (max-width: $screen-sm-max) {
								color: $white;
							}
						}
					}
				}
			}
		}
	}

	h4 {
		font-weight: 600;
		font-size: 1em;
		color: $primary;
		margin: 0;
		position: relative;

		@media (min-width: $screen-md-min) {
			font-size: 0.933em;
			font-weight: normal;
		}

		@media (max-width: $screen-sm-max) {
			border-top: 1px solid rgba(#f0b323, 0.3);
			border-top: 1px solid rgba($white, 0.3);
		}

		span {
			padding: 0 0 28px;
			display: block;

			@media (max-width: 767px) {
				padding: 15px 0;
			}
		}

		a {
			color: $secondary;
			color: $white;
			display: block;
			padding: 15px;
			text-align: center;

			@media (min-width: $screen-md-min) {
				padding: 12px 10px;
			}

			@media (min-width: $screen-lg-min) {
				padding: 12px 35px;
			}

			&:hover, &:focus, &:active {
				text-decoration: none;
				color: $primary;
				color: $white;
			}
		}

		&.st-menu-title-active {
			a {
				@media (max-width: $screen-sm-max) {
					color: $primary;
					color: $white;
				}
			}
		}
	}

	[class*=col-] {
		padding-left: 0;
		padding-right: 0;

		@media (min-width: 992px) {
			width: auto;

			& + [class*=col-] {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 1px;
					bottom: 0;
					background: rgba($secondary, 0.25);
				}
			}

			/*&:first-child{
			   padding-left:15px;
			 }
			 &:last-child{
			   padding-right:15px;
			 }
			 &:nth-child(1){
			   width: 22.85%;
			 }
			 &:nth-child(2){
			   width: 18.4%;
			 }
			 &:nth-child(3){
			   width: 20.1%;
			 }
			 &:nth-child(4){
			   width: 14.6%;
			 }
			 &:nth-child(5){
			   width: 12.9%;
			 }*/
		}

		/*@media (min-width:768px) and (max-width:991px){
		  &:nth-child(3n+3) + [class*=col-]{
		    clear:left;
		  }
		  & + [class*=col-]+[class*=col-]+[class*=col-]{
		      padding-top:30px;
		  }
		}*/
		@media (max-width: $screen-sm-max) {
			width: 100%;
		}
	}

	> .container {
		@media (min-width: 992px) {
			padding-left: 0;
			padding-right: 0;
			width: auto;

			> .row {
				float: left;
				magin: 0;

				> [class*=col-] {
					width: auto;
				}
			}
		}

		@media (max-width: 991px) {
			position: absolute;
			left: 0;
			right: 0;
			top: 70px;
			bottom: 0;
			max-height: 100%;
			-webkit-overflow-scrolling: touch;
			overflow: auto;
			padding: 0 15px;
		}
	}

	.breadcrumb {
		padding-bottom: 47px;
		margin-bottom: 0;

		@media (min-width: $screen-md-min) {
			padding-bottom: 0;
		}

		@media (max-width: 767px) {
			padding-bottom: 20px;
		}
	}

	.st-submenu-toggle {
		position: absolute;
		right: 0;
		top: 50%;
		display: inline-block;
		padding: 10px;

		@include transform(translateY(-50%) rotate(0deg));
		@include transition(all 0.2s ease-in-out);

		@media (min-width: $screen-md-min) {
			display: none;
		}

		i {
			display: inline-block;
		}

		&.collapsed {
			@include transform(translateY(-50%) rotate(180deg));
		}
	}
}

.breadcrumb {
	background: none;

	li {
		font-weight: 300;

		a {
			color: $menuTxtColor;
			font-size: 1em;

			.st-main-menu-wrap & {
				color: $white;
			}

			&:hover, &:focus {
				color: $secondary;

				.st-main-menu-wrap & {
					color: $white;
				}
			}
		}

		& + li {
			&:before {
				content: '|';
				color: $primary;

				.st-main-menu-wrap & {
					color: $white;
				}

				padding: 0 11px 0 7px;
			}
		}
	}
}

.st-middle-sec {
	height: 100%;
	position: relative;

	.container {

		@media (max-width: 767px) {
			height: auto;
		}
	}

	@media (max-width: 767px) {
		height: auto;
	}
	.st-discover-video{
	}
}

.st-middle-content {
	display: table;
	width: 100%;
	height: 100%;

	@media (max-width: 767px) {
		padding-top: 200px;
		height: auto;
	}
	@media (max-height: 600px) {
		height: 300px;
	}

	&-in {
		display: table-cell;
		vertical-align: middle;
		padding-top: 50px;

		@media (min-width: $screen-sm-min) and (max-width: 1024px) {
			padding-top: 0;
		}
	}

	h1 {
		color: #7cbdeb;
		font-family: $fontBrandon;
		text-align: left;
		font-size: 6.752666666666667em;
		font-weight: normal;
	}
}

.st-info-row {
	@media (min-width: 768px) {
		margin: 0;
		padding: 10.2% 0 88px;
		display: table;
		width: 100%;
	}

	@media (min-width: 768px) and (max-width: $screen-md-max) {
		padding: 3.2% 0 88px;
	}

	@media (max-width: 767px) {
		padding: 50px 0;
	}

	li {
		list-style-type: none;

		@media (min-width: 768px) {
			display: table-cell;
			vertical-align: top;
			width: 33%;
		}

		@media (max-width: 767px) {
			padding: 50px 0;
		}

		a {
			display: block;
			max-width: 350px;
			margin: 0 auto;
			text-align: center;
			text-decoration: none;
			color: #7cbdeb;
			letter-spacing: 0.05em;
			font-size: 0.9333333333333333em;
			border-bottom: 1px solid rgba($white, 0.35);
			position: relative;
			line-height: 1.2;
			font-weight: 500;
			padding-bottom: 26px;

			@include perspective(1000px);

			strong {
				font-weight: 500;
				text-transform: uppercase;
				display: block;
				min-height: 35px;
				font-size:16px;
			}

			.sicon-plus {
				font-size: 16px;
				display: inline-block;
				vertical-align: middle;

				@include transition(all 0.4s ease-in-out);
				@include transform(rotate(0deg));
				@include transform-origin(50% 50%);

				margin-right: 7px;

				&:before {
					margin: 0;
					padding: 0;
					line-height: 40px;
				}
			}

			.st-info-row-btn {
				display: block;
				font-size: 0.9em;

				//position:absolute;
				font-weight: 300;
				color: #091d54;
				padding: 0;

				@include transition(all 0.4s ease-in-out);
				@media (max-width: 980px) {
					font-size:1.2em;
				}
			}

			.st-info-row-icon {
				display: block;
				text-align: center;
				font-size: 75px;
				height: 120px;
				line-height: 120px;

				.sicon-dots {
					font-size: 89px;
				}

				.img-responsive {
					margin-left: auto;
					margin-right: auto;
					width: 129px;
				}
			}

			.media-left {
				padding-right: 30px;
				vertical-align: middle;

				@media (max-width: $screen-sm-max) {
					padding-right: 10px;
				}

				img {
					max-width: none;
					width: 79px;
					height: 79px;
					margin-top: -35px;
				}
			}

			.media-body {
				text-align: left;
				vertical-align: middle;
			}

			&:before {
				content: '';
				display: block;
				left: 50%;
				right: 50%;
				bottom: -1px;
				height: 1px;
				background: $white;
				position: absolute;

				@include transition(all 0.4s ease-in-out);
			}

			&:hover, &:focus {
				&:before {
					left: 0;
					right: 0;
				}

				.st-info-row-btn {
					&:hover, &:focus {
						.sicon-plus {
							@include transform(rotate(360deg));
						}
					}
				}
			}
		}

		&.st-anchor-trazable {
			a {
				color: #ea8118;
			}
		}

		&.st-reinforest-anchor {
			.media-left {
				img {
					width: 79px;
				}
			}

			a {
				color: #658d7b;
			}
		}
	}
}

.st-body-wrap {
	position: relative;

	@media (min-width: 768px) {
		height: 100%;
	}
}

.st-footer {
	background: $white;

	//  position:absolute;
	position: relative;
	z-index: 5;
	bottom: 0;
	left: 0;
	right: 0;

	/* @include box-shadow(rgba($black, 0.15) 0 -5px 10px); */

	@media (max-width: 767px) {
		position: relative;
	}

	.navbar-brand {
		width: 131px;
		height: 60px;
		background-position: center -61px;

		@media (min-width: 768px) and (max-width: 991px) {
			margin-left: 0;
			max-width:100%;
			height:65px;
			width:100%;
			background-position:bottom;
			background-size:100%;
		}

		@media (max-width: $screen-xs-max) {
			width: 137px;
			height: 61px;
			background-position: center -62px;
		}

		@media (max-width: 500px) {
			float: none;
			margin: 0;
			display: inline-block;
		}
	}

	h5 {
		margin: 0 0 2px;
		font-weight: 500;
		@media (max-width: 980px) {
			font-size:1.133em;
		}
	}

	p {
		font-size: 0.867em;
		color: $footerTxtColor;
		margin: 0;
		font-weight: 300;
		text-align:left;
		@media (max-width: 980px) {
			font-size:1.133em;
		}
		a {
			color: $footerTxtColor;

			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}

.st-footer-main {
	padding: 20px 0 35px;

	@media (min-width: $screen-md-min) {
		padding-bottom: 15px;
	}

	@media (max-width: 500px) {
		padding-top: 0;
		padding-bottom: 30px;
	}

	p {
		@media (max-width: $screen-xs-max) {
			text-align: left;
		}
	}

	.btn {
		&.btn-link {
			@media (max-width: $screen-xs-max) {
				min-width: 0;
			}
		}
	}

	.container {
		@media (min-width: $screen-md-min) {
			padding-left: 15px;
			padding-right: 15px;

			> .row {
				display: table;
				width: 100%;

				@media (min-width: 768px) and (max-width: 1024px) {
					margin: 0;
				}

				[class*=col-] {
					//border-left:1px solid rgba(#7cc576, 0.4);
					float: none;
					display: table-cell;
					padding-left: 15px;
					padding-right: 15px;
					vertical-align: top;

					@media (min-width: 992px) {
						padding-left: 60px;
						padding-right: 20px;
					}

					&:first-child {
						padding-left: 0;
						border-left: none;

						@media (min-width: 992px) {
							width: 18.7%;
						}
					}

					&:nth-child(2) {
						@media (min-width: 992px) {
							width: 28.7%;
						}
					}

					&:last-child {
						padding-right: 15px;
					}
				}
			}
		}

		[class*=col-] {
			@media (max-width: 767px) {
				&:nth-child(2) + [class*=col-] {
					clear: left;
				}

				& + [class*=col-] + [class*=col-] {
					padding-top: 30px;
				}
			}

			@media (max-width: 500px) {
				width: 100%;
				padding-top: 30px;
				text-align: left;
			}
		}
	}

	.media {
		padding-top: 0px;
		padding-bottom: 9px;

		@media (max-width: 500px) {
			//margin:0 auto;
			display: table;
			overflow: visible;

			.media-body {
				//width:auto;
				overflow: visible;

				h5 {
					margin-left: -39px;
				}
			}
		}

		.media-body {
			h5 {
				@media (max-width: $screen-xs-max) {
					margin-left: 0;
				}
			}

			@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
				display: block;
				width: auto;
			}
		}

		.media-left {
			//padding-top:22px;
			padding-right: 22px;
			vertical-align: top;
			min-width:60px;

			@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
				display: block;
				width: auto;
				padding-bottom: 20px;
			}

			i {
				font-size: 38px;
				color: $secondary;
				display: block;
				line-height: 38px;

				&:before {
					margin: 0;
					line-height: 38px;
				}

				&.sicon-phone {
					@include transform(rotate(40deg));
				}
			}
		}
	}
}

.st-copyright {
	padding: 13px 0;
	background: $secondary;
	color: $white;
	text-align: center;

	p {
		margin: 0;
		font-size: 1.2em;
		color: $white;
		text-align:center;
	}
}

.btn {
	@include transition(all 0.2s ease-in-out);

	&.btn-link {
		color: $primary;
		padding-left: 0;
		font-weight: 600;
		text-decoration: none;

		&:hover, &:focus {
			color: $secondary;
		}

		&.btn-xs {
			i {
				font-size: 15px;

				&:before {
					font-weight: bold;
				}
			}
		}
	}

	&.btn-xs {
		font-size: 0.867em;
	}
}

/********** INNER HEADER AREA STARTS ***********/

.st-tbl {
	display: table;
	width: 100%;
	height: 100%;

	.st-tbl-cell {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.st-header-area {
	height: 400px;
	background-color: $bodyTxtColor;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	@media (max-width: 767px) {
		height: 320px;
	}

	&.st-header-img-aligntop {
		background-position: center top;
	}

	.container {
		height: 100%;
		position: relative;
	}

	.st-tbl {
		padding-top: 148px;
		color: $white;

		@media (max-width: 767px) {
			padding-top: 118px;
		}
	}

	h1 {
		text-transform: uppercase;
		color: $white;

		@media (max-width: 640px) {
			font-size: 2em;
		}

		small {
			display: block;
			font-size: 0.337em;
			text-transform: none;
			color: $white;

			@media (max-width: 767px) {
				font-size: 15px;
			}

			&:before {
				content: '';
				display: block;
				margin: 32px auto 23px;
				width: 130px;
				border-top: 1px solid rgba($headerTitleDivider, 0.5);
			}
		}
	}

	&.st-header-area-big {
		height: 766px;

		@media (max-width: 767px) {
			height: 476px;
		}

		.st-tbl {
			padding-bottom: 95px;

			@media (max-width: 767px) {
				padding-bottom: 40px;
			}
		}
	}

	&.st-header-beneficios {
		@media (max-width: $screen-xs-max) {
			background-position: 70% 80px;
		}
	}

	&[style*="banner_kurmi63.jpg'"] {
		@media (max-width: $screen-sm-max) {
			background-position: 30% center;
		}

		@media (max-width: $screen-xs-max) {
			background-position: 25% 45px;
		}
	}
}

/********** INNER HEADER AREA ENDS ***********/

.st-innerpage {
	.st-middle-sec {
		height: auto;

		//padding-bottom:184px;
		.contianer {
			height: auto;
		}
	}

	.st-body-wrap {
		min-height: 100%;
		height: auto;
	}
}

.st-map-area {
	height: 402px;
	position: relative;

	@media (max-width: 767px) {
		height: 300px;
	}

	> div {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}

.st-common-sec {
	padding: 90px 0;

	@media (max-width: 767px) {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.container {
		max-width: 1000px;

		&.container-sm {
			max-width: 655px;
		}

		&.container-600 {
			max-width: 630px;
		}

		&.container-800 {
			max-width: 830px;
		}

		&-lg {
			max-width: 1170px;
		}

		&-xl {
			max-width: 1262px;
		}
	}

	& + .st-common-top-sec {
		padding-top: 0;
	}

	&.st-common-top-sec {
		padding-top: 0;
	}

	&.st-theme-sec {
		background: $theme;

		& + .st-common-sec:not(.st-full-bg-columns) {
			padding-top: 90px;

			@media (max-width: 767px) {
				padding-top: 45px;
			}
		}
	}

	&.st-round-icon-sec {
		padding-top: 138px;
		padding-bottom: 138px;

		@media (max-width: 767px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}

	&.st-info-sec {
		padding-top: 78px !important;
		padding-bottom: 78px !important;

		@media (max-width: 767px) {
			padding-top: 45px !important;
			padding-bottom: 45px !important;
		}
	}

	&.st-la-dibetes-sec {
		padding-top: 105px;

		@media (max-width: 767px) {
			padding-top: 45px;
		}
	}

	&.st-pad-tb-100 {
		padding-top: 100px;
		padding-bottom: 100px;

		@media (max-width: 767px) {
			padding-top: 45px;
			padding-bottom: 45px;
		}
	}

	& + .container hr {
		margin: 0;
	}
}

.st-map-info {
	background: $theme;
	padding: 48px 52px;

	@media (min-width: 768px) {
		margin-top: -134px;
	}

	@media (max-width: 767px) {
		margin-top: 50px;
	}
}

.st-tbl-row {
	@media (min-width: 768px) {
		display: table;
		width: 100%;
		margin: 0;

		> [class*=col-] {
			float: none;
			display: table-cell;
			vertical-align: middle;
		}

		&-invert {
			@media (min-width: 768px) {
				direction: rtl;

				> [class*=col-] {
					direction: ltr;
				}
			}
		}
	}

	&.st-tbl-md-row {
		@media (max-width: $screen-sm-max) {
			display: block;
			width: auto;

			> [class*=col-] {
				display: block;
			}
		}
	}

	&.st-tbl-align-middle {
		[class*=col-] {
			vertical-align: middle !important;
		}
	}
}

.st-location-sec {
	@media (min-width: 768px) {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.st-info-media {
	padding: 0 20px 24px;
	margin: 0 -20px;

	&:last-child {
		padding-bottom: 0;
	}

	.media-left {
		vertical-align: middle;
		min-width: 44px;

		i {
			font-size: 33px;
			color: $primary;

			&:before {
				margin: 0;
			}

			&.sicon-location {
				font-size: 26px;
			}
		}
	}

	.media-body {
		vertical-align: middle;
	}

	p {
		font-size: 1.335em;
		font-weight: 300;
		margin: 0;
		color: $bodyTxtColor;

		a {
			color: $bodyTxtColor;
			text-decoration: none;

			&:hover, &:focus, &:active {
				color: $secondary;
			}
		}
	}

	&.st-info-media-rounded {
		.media-left {
			i {
				display: inline-block;
				width: 111px;
				height: 111px;
				line-height: 111px;
				text-align: center;
				background: $theme;
				font-size: 42px;

				@include border-radius(100%);

				@media (max-width: 500px) {
					width: 71px;
					height: 71px;
					line-height: 71px;
				}
			}

			vertical-align: middle;
		}

		.media-body {}
	}

	& + & {
		border-top: 1px solid $secondary;
		padding-top: 22px;
	}
}

.st-contact-right-media {
	margin: 0 0 0 auto;

	@media (max-width: $screen-sm-max) {
		margin: 0;
		padding: 50px 0 0;
	}

	display: table;

	.media-left {
		@media (min-width: 767px) {
			padding-right: 38px;
		}
	}

	.media-body {
		width: auto;
	}
}

.form-control {
	font-size: 1.335em;
	background: $theme;
	font-weight: 300;

	@include border-radius(0);
	@include box-shadow(none);

	border: none;
	outline: none;
	height: auto;
	padding: 10px 26px;

	@include transition(all 0.1s ease-in-out);
	@include input-placeholder {
		color: $placeholderColor;
	}


	&:focus {
		@include box-shadow(none);

		background: darken($theme, 2%);
	}
}

textarea.form-control {
	height: 180px;
	max-width: 100%;
}

.form-horizontal {
	p {
		font-size: 1.307em;
		color: $bodyTxtColor;
		font-weight: 300;
		padding-bottom: 10px;
	}

	.form-group {
		[class*=col-] {
			& + [class*=col-] {
				@media (max-width: 767px) {
					padding-top: 15px;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.btn {
	font-family: $fontQuicksand;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 1.133em;
	font-weight: bold;
	padding-left: 25px;
	min-width: 152px;
	padding-right: 25px;

	@include border-radius(0);

	outline: none !important;

	&.btn-default {
		border: none;
		background: $primary;
		color: $white;

		&:hover, &:focus {
			background: darken($primary, 5%);
			color: $white;
		}
	}
}

.bootstrap-select {
	width: 100%;

	.dropdown-toggle {
		border: none;
		background: $theme;
		font-size: 1.335em;
		padding: 10px 26px;
		font-weight: 300;
		font-family: $font;
		text-transform: none;
		width: 100%;

		@include border-radius(0 !important);
		@include box-shadow(none !important);

		outline: none !important;
		color: $bodyTxtColor;

		&:hover {
			color: $primary;
		}

		&:focus {
			color: $bodyTxtColor;
		}

		&:hover, &:focus, &:active {
			@include box-shadow(0);

			outline: none !important;
			background: darken($theme, 5%);

			.caret {
				color: $primary;
			}
		}

		.caret {
			border-width: 10px;
			color: #c9c5bf;
		}
	}

	&.open {
		.dropdown-toggle {
			color: $primary;

			.caret {
				color: $primary;
			}

			background: darken($theme, 5%);

			&:hover, &:focus, &:active {
				@include box-shadow(0);

				color: $primary;
				outline: none !important;
				background: darken($theme, 5%);
			}
		}
	}

	.dropdown-menu {
		border: none;
		background: $theme;

		@include border-radius(0);

		li {
			a {
				outline: none;
				padding: 8px 10px;

				&:hover, &:focus, &:active {
					background: darken(#43b02a, 5%);
				}
			}

			&.selected {
				> a {
					background: #43b02a;
					color: $white;
				}
			}
		}
	}
}

.st-newsletter-sec {
	background: image-url("newsbg.jpg") no-repeat center center;
	background-size: cover;
	color: $white;
	padding: 67px 0;

	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.st-info-media {
		margin-left: -15px;
		margin-right: -15px;

		h4 {
			margin: 0;
		}

		.media-left {
			color: $white;
			padding-top: 0;
			padding-right: 25px;
			vertical-align: top;

			@media (min-width: 992px) {
				padding-left: 50px;
			}

			i {
				font-size: 47px;
				color: $white;
				display: block;

				&:before {
					display: block;
				}
			}
		}

		h4 {
			font-size: 1.815em;
			font-weight: 500;
		}

		p {
			font-size: 1.337em;
			color: $white;

			@media (max-width: 767px) {
				text-align: left;
			}
		}
	}

	.form-control {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.btn {
		&.btn-default {
			min-width: 0;
		}
	}
}

.st-contact-form-sec {
	padding-top: 0;
}

.st-newsletter-row {
	> [class*=col-] {
		& + [class*=col-] {
			@media (max-width: 991px) {
				padding-top: 50px;
			}
		}
	}
}

.st-input-file {
	position: relative;
	overflow: hidden;

	span {
		color: $placeholderColor;
	}

	i {
		position: absolute;
		right: 10px;
		top: 50%;

		@include transform(translateY(-50%));

		color: $secondary;
		font-size: 26px;
		padding: 0 10px;
		display: block;

		&:before {
			margin: 0;
			display: block;
		}
	}

	input {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		@include opacity(0);
	}
}

blockquote {
	border: none;
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: $fontQuicksand;

	p {
		font-size: 1.469em;
		color: $bodyTxtColor;
		font-family: $fontQuicksand;
		font-style: italic;
		font-weight: normal;
		line-height: 1.2;
		letter-spacing: -0.05em;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		overflow: hidden;
		width: 100%;
	}
}

.st-author-info {
	font-family: $fontQuicksand;
	color: $bodyTxtColor;
	font-weight: 500;
	line-height: 1.2;

	&:before {
		display: block;
		width: 70px;
		margin: 30px 0;
		height: 1px;
		background: $primary;
		content: '';

		@media (max-width: 767px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&-bottom {
		&:before {
			display: none;
		}

		&:after {
			display: block;
			width: 70px;
			margin: 12px 0 0;
			height: 1px;
			background: $primary;
			content: '';

			@media (max-width: 767px) {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&.st-author-info-no-underline {
			&:after {
				display: none;
			}
		}
	}

	h5 {
		font-size: 1.467em;
		font-weight: bold;
		color: $bodyTxtColor;
		margin: 0;
	}

	.st-author-post {
		font-size: 1.267em;
		color: $secondary;
		display: block;
	}

	.st-author-company {
		font-size: 1.267em;
		color: $primary;
		display: block;
	}

	@media (max-width: 767px) {
		text-align: center;
	}
}

.st-rounded-icon-box {
	background: $white;

	@include border-radius(100%);

	display: table;
	width: 260px;
	height: 260px;
	text-align: center;

	@media (max-width: 767px) {
		margin: 0 auto;
	}

	&-in {
		display: table-cell;
		vertical-align: middle;
	}

	i {
		color: $blue;
		font-size: 88px;
		display: block;
		margin-bottom: 20px;

		&:before {
			margin: 0 auto;
			display: block;
		}
	}

	img {
		margin-top: -16px;
	}

	h4 {
		font-family: $fontMuseo;
		margin: 0;
		font-weight: 600;
		font-size: 20px;
		letter-spacing: 0.05em;
		color: $blue;
		line-height: 1.3;
		text-transform: uppercase;
	}

	&-primary {
		i {
			color: $primary;
			font-size: 105px;
			margin-bottom: 6px;
		}

		h4 {
			color: $primary;
		}
	}

	&-lime-green {
		i {
			color: $lime-green;
		}

		h4 {
			color: $lime-green;
		}
	}
}

.st-header-link {
	position: absolute;
	left: 50%;
	display: inline-block;
	margin-left: -32px;
	color: $white;
	font-size: 45px;
	bottom: 78px;
	outline: none;

	@include transition(all 0.2s ease-in-out);
	@include opacity(1);

	@media (max-width: 767px) {
		bottom: 10px;
		font-size: 30px;
		margin-left: -21px;
	}

	&:hover, &:focus {
		@include opacity(0.5);

		color: $white;
	}

	&:before {
		margin: 0;
	}
}

.st-round-icon-sec {
	h2 {
		max-width: 480px;

		&.st-trazables-heading {
			max-width: 515px;
		}

		&.st-rainforest-heading {
			max-width: 554px;
		}

		@media (max-width: 767px) {
			margin: 30px auto 0;
		}

		& + p {
			margin-top: 28px;
		}
	}

	p {
		max-width: 549px;

		@media (max-width: 767px) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
}

.st-info-block {
	font-size: 1.455em;
	margin: 0;

	@media (max-width: 767px) {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	a {
		color: $bodyTxtColor;
		text-decoration: none;
		outline: none;

		&:hover, &:focus {
			color: $primary;
			text-decoration: none;
		}
	}
}

.st-info-sec {
	[class*=col-] {
		& + [class*=col-] {
			@media (max-width: 767px) {
				padding-top: 40px;
			}
		}
	}

	h3 {
		@media (max-width: $screen-xs-max) {
			font-size: 1.5em;
		}
	}
}

.st-animate {
	visibility: hidden;

	&.animated {
		visibility: visible;
	}
}

.st-round-icon-desc {
	font-size: 1.333em;
	font-weight: 300;
}

.st-full-bg-columns {
	padding: 0;

	p {
		font-size: 1.333em;
		font-weight: 300;

		@media (max-width: 767px) {
			text-align: center;
		}
	}

	.st-full-bg-col-in {
		max-width: 608px;
		padding: 88px 0 86px;
		margin: 0 auto;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			max-width: none;
		}

		@media (max-width: 767px) {
			padding-top: 45px;
			padding-bottom: 45px;
		}
	}

	h2 {
		margin-bottom: 15px;

		@media (max-width: 767px) {
			text-align: center;
		}
	}

	.container, .container-fluid {
		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.row {
		> .col-sm-6, > .col-md-6 {
			vertical-align: top;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			&:first-child {
				.st-full-bg-col-in {
					@media (min-width: 768px) {
						margin: 0 0 0 auto;
						padding-right: 15px;
						padding-left: 15px;
					}

					@media (min-width: 1350px) {
						padding-right: 65px;
						padding-left: 0;
					}
				}
			}

			&:last-child {
				.st-full-bg-col-in {
					@media (min-width: 768px) {
						margin: 0 auto 0 0;
						padding-left: 15px;
						padding-right: 15px;
					}

					@media (min-width: 1350px) {
						padding-left: 65px;
						padding-right: 0;
					}
				}
			}
		}

		[style*=background-image] {
			@media (max-width: 767px) {
				padding-top: 60%;
			}
		}

		&.st-tbl-md-row {
			[style*=background-image] {
				@media (max-width: $screen-sm-max) {
					padding-top: 60%;
				}
			}
		}

		&.st-tbl-row-invert {
			> .col-sm-6, > .col-md-6 {
				&:first-child {
					.st-full-bg-col-in {
						@media (min-width: 768px) {
							margin-left: 0;
							margin-right: auto;
							padding-right: inherit;
							padding-left: 15px;
						}

						@media (min-width: 992px) {
							padding-right: inherit;
							padding-left: 65px;
						}
					}
				}

				&:last-child {
					.st-full-bg-col-in {
						@media (min-width: 768px) {
							margin-right: 0;
							margin-left: auto;
							padding-left: inherit;
							padding-right: 15px;
						}

						@media (min-width: 992px) {
							padding-left: inherit;
							padding-right: 65px;
						}
					}
				}
			}
		}
	}

	.st-profile-row {
		@media (min-width: 768px) {
			padding-top: 57px;
			padding-bottom: 57px;
		}
	}
}

.st-centered-image-sec {
	background-image: image-url("somos-stevia-one-center.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 16.4%;
	padding-bottom: 112px;

	@media (max-width: 767px) {
		padding-bottom: 45px;
	}

	.container {
		max-width: 664px;
	}

	h2 {
		margin-bottom: 17px;

		@media (max-width: 767px) {
			text-align: center;
		}
	}
}

.st-bullet-list {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		font-size: 1.332em;
		font-weight: 300;
		position: relative;
		padding-left: 16px;
		line-height: 1.4;

		strong {
			font-weight: 500;
		}

		@media (max-width: 767px) {
			text-align: left;
		}

		&:before {
			content: '\00BB';
			color: $secondary;
			font-size: 120%;
			font-weight: normal;
			position: absolute;
			left: 0;
			top: -4px;
		}
	}

	&.st-bullet-space {
		li {
			& + li {
				margin-top: 32px;
			}
		}
	}

	&-primary {
		li {
			&:before {
				color: $primary;
			}
		}
	}

	& + p {
		margin-top: 23px;
	}
}

.st-profile-pic-wrap {
	display: inline-block;

	@include border-radius(100%);

	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}

	& + .st-author-info {
		padding-top: 17px;
	}
}

.st-profile-sec {
	padding-top: 81px;
	padding-bottom: 81px;

	@media (max-width: 767px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.container {
		max-width: 915px;
	}
}

.st-profile-row {
	blockquote {
		p {
			font-weight: normal;
			font-size: 1.465em;
		}
	}

	[class*=col-] {
		@media (max-width: 767px) {
			text-align: center;
		}

		& + [class*=col-] {
			@media (max-width: 767px) {
				padding-top: 30px;
			}
		}
	}

	.st-author-info {
		&:before {
			@media (max-width: 767px) {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.st-small-profile-col {
	@media (min-width: 992px) {
		width: 35.3%;
	}

	@media (min-width: 768px) and (max-width: 991px) {
		width: 100%;
		text-align: center;
		padding-bottom: 30px;

		.st-author-info-bottom {
			&:after {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	@media (max-width: 992px) {
		.st-profile-pic-wrap {
			max-width: 172px;
		}
	}
}

.st-small-profile-desc-col {
	@media (min-width: 992px) {
		width: 64.7%;
	}

	@media (min-width: 768px) and (max-width: 991px) {
		width: 100%;
		text-align: center;
	}

	.st-md-heading {
		margin-top: 30px;
	}
}

.st-icon-list {
	background: none;
	padding: 0;
	margin: 0;

	li {
		display: table;
		list-style-type: none;
		width: 100%;
		padding-bottom: 15px;

		& + li {
			border-top: 1px solid $white;
			padding-top: 20px;
		}

		span, i {
			display: table-cell;
			vertical-align: middle;
		}

		span {
			width: 1000px;
			font-size: 1.815em;
		}

		i {
			font-size: 42px;

			&:before {
				margin: 0;
			}

			&.sicon-muestra {
				font-size: 55px;
			}
		}
	}
}

.st-image-sec {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 64px;
	padding-bottom: 64px;
	color: $white;

	@media (max-width: 767px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	h2 {
		color: $white;
	}

	.st-bullet-list {
		li {
			&:before {
				color: $white;
			}
		}
	}

	.st-underline {
		&:after {
			background: $white;
		}
	}

	.row {
		> [class*=col-] {
			& + [class*=col-] {
				@media (max-width: 767px) {
					padding-top: 30px;
				}
			}
		}
	}
}

.st-big-btn-row {
	.xtra-lg-btn {
		white-space: nowrap;
		display: inline-block;

		@media (max-width: 991px) {
			font-size: 2em;
		}

		@media (max-width: 640px) {
			display: inline-block;
		}

		span {
			white-space: normal;
		}
	}

	[class*=col-] {
		padding-top: 28px;
		padding-bottom: 28px;

		&:first-child {
			@media (min-width: 767px) {
				padding-right: 45px;
			}

			@media (max-width: 767px) {
				text-align: center;
			}

			.xtra-lg-btn {
				span {
					text-align: right;
				}
			}
		}

		&:last-child {
			@media (min-width: 768px) {
				padding-left: 45px;
			}

			@media (max-width: 767px) {
				text-align: center;
			}
		}

		& + [class*=col-] {
			border-left: 1px solid $primary;

			@media (max-width: 640px) {
				border-left: none;
				padding-top: 0;

				&:before {
					border-top: 1px solid $primary;
					height: 1px;
					content: '';
					display: block;
					margin-bottom: 30px;
				}
			}
		}

		@media (max-width: 640px) {
			width: 100%;
		}
	}
}

.st-product-detail-form {
	padding-top: 90px;

	@media (max-width: 767px) {
		padding-top: 45px;
	}
}

.st-product-detail-big-btns-sec {
	padding-top: 78px;
	padding-bottom: 78px;

	@media (max-width: 767px) {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

.st-dropmenu {
	@media (max-width: $screen-sm-max) {
		background: $theme;
		background: #44b029;

		@include transition(all 1s cubic-bezier(0.77, 0, 0.175, 1));
		@include transform(translate(100%, 0));

		&.st-menu-active {
			@include transform(translate(0, 0));
		}
	}
}

.st-header-area, .st-middle-sec, .st-footer {
	@media (max-width: $screen-sm-max) {
		@include transition(all 1s cubic-bezier(0.77, 0, 0.175, 1));
		@include transform(translate(0, 0));

		.st-menu-active & {
			@include transform(translate(-50%, 0));
		}
	}
}

.form-horizontal {
	.helper-block {
		font-size: 1.067em;
	}
}

.st-form-success, .st-form-error {
	text-align: center;
	background: $secondary;
	padding: 10px;

	@include border-radius(6px);

	/*margin-bottom:30px;*/
	h3 {
		color: $white;
		font-weight: normal;
	}

	h4 {
		font-weight: 300;
	}
}

.st-form-error {
	background: $primary;
}

.st-common-sec:not(.st-newsletter-sec) {
	.helper-block {
		color: #43b02a;
		padding-top: 5px;
		display: block;
		font-weight: normal;

		@include opacity(0.5);
	}

	.st-form-success, .st-form-error {
		background: none;
		color: $bodyTxtColor;
		border: 2px solid $secondary;

		h3 {
			color: $secondary;
		}

		h4 {
			color: $bodyTxtColor;
		}
	}

	.st-form-error {
		border-color: $primary;

		h3 {
			color: $primary;
		}
	}
}

.st-vimeo-video-bx {
	position: relative;
	z-index: 0;
	max-width: 607px;
	margin-left: auto;
	margin-right: auto;

	@include box-shadow(rgba(0, 0, 0, 0.3) 2px 5px 4px);

	background: #000;

	@media (max-width: 937px) {
		margin-left: 8.5%;
		margin-right: 16.8%;
	}

	&:before, &:after {
		content: '';
		display: inline-block;
		background: image-url("video-left-leaf.png") no-repeat center center;
		background-size: contain;
		position: absolute;
		width: 28%;
		height: 32%;
		left: -14.5%;
		bottom: -15.5%;
		z-index: -1;
	}

	&:after {
		background-image: image-url("video-right-leaf.png");
		width: 45.5%;
		height: 50%;
		right: -25.8%;
		bottom: 10.5%;
		left: auto;
	}
}

.st-rounded-icon-row {
	h2.st-small-desc {
		@media (max-width: $screen-xs-max) {
			font-size: 1.3em;
		}
	}
}

.st-campos-middle-sec {
	padding-bottom: 40px;

	h3 {
		font-size: 1.667em;
		max-width: 440px;

		@media (max-width: $screen-sm-max) {
			margin: 0 auto;
		}
	}
}

.st-why-stevia-sec {
	p {
		font-size: 1.332em;
	}
}

.st-icon-thumb {
	background: #fef5ea;
	width: 111px;
	height: 111px;
	line-height: 111px;
	text-align: center;

	@include border-radius(100%);

	i {
		font-size: 49px;
		color: $primary;

		&:before {
			line-height: 111px;
		}
	}
}

.st-why-stevia-sec {
	h2 {
		margin-bottom: 90px;
	}
}

.st-stevia-in-peru-sec {
	.st-icon-thumb {
		margin-bottom: 60px;
	}

	p {
		& + ul {
			margin-top: 40px;
		}
	}

	li {
		font-weight: normal;
	}

	h3 {
		font-size: 1.333em;
		margin-bottom: 40px;
		text-transform: uppercase;

		&:after {
			height: 5px;
		}
	}

	> [class*=col-] {
		padding-bottom: 100px;

		@media (max-width: $screen-sm-max) {
			padding-bottom: 80px;
		}
	}

	&:last-child {
		> [class*=col-] {
			@media (min-width: $screen-md-min) {
				padding-bottom: 0;
			}

			&:last-child {
				@media (max-width: $screen-sm-max) {
					padding-bottom: 0;
				}
			}
		}
	}

	.st-icon-thumb {
		@media (max-width: $screen-xs-max) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.st-bullet-list-col {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		float: left;
		width: 50%;

		& + li {
			margin-top: 0;

			& + li {
				margin-top: 32px;
			}
		}

		&:nth-child(2n+2) + li {
			clear: left;
		}
	}

	&.st-bullet-list {
		li {
			& + li {
				margin-top: 0;

				& + li {
					margin-top: 32px;
				}
			}
		}
	}
}

[class^="st-video-leaf"] {
	position: fixed;
	top: 10%;

	@include opacity(0.9);
	@include transition(all 0.8s ease-in-out);

	z-index: 1;

	img {
		width: 100%;
		height: auto;
	}
}

.st-page-index, .st-page-index-demo {
	.navbar-default {
		position: fixed;
	}

	.st-middle-sec {
		.container {
			position: relative;
			z-index: 5;
			@media(max-height:780px){
				height:65%;
			}
		}
	}
}

.video-js {
	/* &:after {
		content: '';
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
		height: 40%;

		@include background(linear-gradient(rgba($white, 0), rgba($white, 1)));

		@media (max-width: $screen-xs-max) {
			display: block;
		}
	} */

	&:before {
		/*@include background(linear-gradient(rgba(#def0f6, 1), rgba(#def0f6, 0)));
		bottom:auto;
		top:-2px;
		height:35%;
		display:block;
		z-index:2;*/
	}
}

.video-js {
	background-color: $white;
}

.st-page-preloader {
	background: $white image-url("loader.gif") no-repeat center center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
}

/*==================================================
=            Theme Changes - 22-05-2018            =
==================================================*/

.st-footer {
	p, h5 {
		font-size: 0.733em;
	}
	.st-copyright {
		background: $secondary;
		color: $white;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 1em;
	}
}

.st-header-1, .st-header-2, .st-header-3 {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba($black, 0.2);
	}

	h1 {
		small {
			padding-bottom: 10px;
		}
	}

	.container {
		position: relative;
		z-index: 1;
	}

	@media (min-width: $screen-md-min) {
		height: 524px;
	}

	.st-tbl {
		.st-tbl-cell {
			padding-bottom: 100px;
			vertical-align: bottom;

			@media (max-width: $screen-xs-max) {
				padding-bottom: 50px;
			}

			h1 {
				font-weight: 500;

				&:after {
					content: '';
					display: block;
					width: 175px;
					height: 1px;
					background: $white;
					margin-bottom: 30px;
					margin: 18px auto 0;

					@media (max-width: $screen-xs-max) {
						width: 100px;
						margin-top: 10px;
					}
				}
			}
		}
	}
}

.st-header-2 {
	@media (min-width: $screen-sm-min) {
		height: 744px;
	}

	.st-tbl {
		.st-tbl-cell {
			padding-bottom: 195px;

			h1 {
				@media (min-width: $screen-md-min) {
					font-size: 4.177em;
				}

				&:after {
					display: none;
				}

				small {
					font-size: 0.455em;
					font-weight: 500;

					&:before {
						border-top-color: $white;
						margin-top: 15px;
						width: 175px;

						@media (max-width: $screen-xs-max) {
							width: 100px;
						}
					}
				}
			}
		}
	}

	.st-header-link {
		bottom: 13px;
	}
}

.st-header-3 {
	.st-tbl {
		.st-tbl-cell {
			h1 {
				small {
					font-size: 0.455em;
					font-weight: 500;

					&:before {
						border-top-color: $white;
						margin-top: 15px;
						width: 175px;

						@media (max-width: $screen-xs-max) {
							width: 100px;
						}
					}
				}

				&:after {
					display: none;
				}
			}
		}
	}
}

.st-address-media {
	display: table;

	p {
		font-size: 1.2em;
		font-weight: 300;
		line-height: 1.6;

		@media (max-width: $screen-sm-max) {
			font-size: 1em;
		}

		a {
			color: $bodyTxtColor;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.media-body {
		width: auto;
		vertical-align: middle;

		p {
			@media (max-width: $screen-xs-max) {
				text-align: left;
			}
		}
	}

	.media-left {
		padding-right: 30px;

		@media (max-width: $screen-sm-max) {
			padding-right: 10px;
		}

		i {
			font-size: 38px;
			color: $secondary;

			&:before {
				margin: 0;
			}
		}
	}

	&.st-address-media-center {
		@media (min-width: $screen-sm-min) {
			margin: 0 auto;
		}
	}
}

.st-contact-address-sec {
	@media (min-width: $screen-sm-min) {
		padding-top: 74px;
		padding-bottom: 74px;
	}

	h3 {
		margin-bottom: 55px;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 25px;
		}
	}

	.container {
		@media (min-width: $screen-md-min) {
			max-width: 950px;
		}
	}

	.st-location-sec {
		margin: 0;
	}
}

.form-horizontal {
	p {
		font-size: 1.2em;

		@media (max-width: $screen-xs-max) {
			text-align: left;
		}
	}
}

.st-contact-form-sec-new {
	padding-bottom: 54px;

	h3 + .form-horizontal {
		padding-top: 25px;
	}

	.container {
		@media (min-width: $screen-md-min) {
			max-width: 950px;
		}
	}
}

.st-contact-form-1 {
	max-width: 790px;

	.form-control {
		background: none;
		border-bottom: 1px solid #939393;
		font-size: 1.2em;
		padding-left: 13px;
		padding-right: 13px;
		letter-spacing: 0;

		@include input-placeholder {
			color: #939393;

			@include opacity(1);
		}
	}

	.bootstrap-select {
		.dropdown-toggle {
			background: none;
			border-bottom: 1px solid #939393;
			font-size: 1.2em;
			padding-left: 13px;
			padding-right: 13px;
			letter-spacing: 0;

			.caret {
				border-width: 7px;
				color: #6e6e6e;
			}

			&:hover, &:focus, &:active {
				background: none;

				.caret {
					color: #43b02a;
				}
			}
		}
	}

	[type="submit"] {
		min-width: 190px;
	}
}

.st-btn {
	font-size: 1.2em;
	letter-spacing: 0;

	@include border-radius(7px);

	padding: 16px 12px;
}

.st-newsletter-hidden {
	.container {
		display: none;
	}

	.st-newsletter-sec {
		padding-top: 110px;
		padding-bottom: 110px;
		background-image: image-url("newsletter-bg.jpg");
	}
}

.st-address-info-row {
	[class*="col-"] {
		& + [class*="col-"] {
			@media (max-width: $screen-xs-max) {
				padding-top: 30px;
			}
		}
	}
}

.st-innerpage:not(.st-menu-active):not(.st-navbar-light) .navbar-default:not(.st-nav-collapsed) .navbar-toggle.collapsed .icon-bar {
	background: $white;
}


/*=====  End of Theme Changes - 22-05-2018  ======*/
@import "_trabaja-con-nosotros";

/*=====  End of Contact Trabaja Form  ======*/

@import "azhar";

/*
@import "_manifesto";
@import "_somos-stevia";
@import "_nuestra-gente";
@import "_biofabrica";
@import "_campos";
@import "_integracion-vertical";
@import "_planta-de-produccion";
@import "_trazabilidad";
@import "_planta-de-secado";
@import "_vivero";
@import "_acerca-de";
@import "_actualidad";
@import "_beneficios";
@import "_certificaciones";
@import "_portfolio-sg98";
@import "_stevia-tomorrow-today-rainforest";
@import "_stevia-tomorrow-today";
*/

.st-header-area {
	height:180px;
	@media (min-width: $screen-sm-min) {
		height:400px;
	}
	@media (min-width: $screen-md-min) {
		height:524px;
	}
}

.st-menu-active .navbar-brand, .st-innerpage.st-menu-active:not(.st-navbar-light) .navbar-brand {
	background-position: 0px 0px;
}

.st-menu-active .st-footer .navbar-brand,
.st-innerpage.st-menu-active .st-footer .navbar-brand {
	background-position: center -61px;
}

.st-lng-menu {
	@media (min-width: $screen-sm-min) {
		right:100px;
		top:15px;
	}
	@media (min-width: $screen-md-min) {
		padding-right:20px;
	}
	@media (min-width: $screen-lg-min) {
		padding-right:40px;
	}
}

.text-green {
	color:#44b029;
	font-size:18px;
	font-weight:600 !important;
}

.st-full-bg-columns .st-full-bg-col-in {
	padding-bottom:30px;
}

.st-footer {
	background-image:url('../images/background-footer.jpg');
	background-position: center top;
	background-repeat:no-repeat;
	padding-top:340px;
	background-size: cover;
	.st-footer-main {
		background-color: #fff;
		@include box-shadow(rgba($black, 0.15) 0 -5px 10px);
		.container [class*=col-]:nth-child(2)+[class*=col-] {
			padding-top:0;
		}
		.container [class*=col-]+[class*=col-]+[class*=col-] {
			padding-top:0;
		}
		.row-first {
			display:none;
			@media (min-width: $screen-md-min) {
				display:block;
				height:15px;
			}
		}
	}
}
.st-page-index {
	.st-footer {
		background:none;
		padding-top:40px;
		@media (min-width: $screen-sm-min) {
			position:absolute;
			bottom:0;
		}
		@media (min-width: $screen-md-min) {
			position:relative;
			bottom:0;
		}
		@media (min-height: 800px) {
			position:relative;
			bottom:0;
		}
	}
}

.st-common-center-text {
	.container {
		width:100%;
		@media (min-width: $screen-sm-min) {
			max-width: 530px;
		}
		@media (min-width: $screen-md-min) {
			max-width: 730px;
		}
		p {
			font-size: 1.2em;
			font-weight:300;
			margin-bottom: 34px;
			line-height: 1.6;
			text-align: center;

			strong {
				font-weight: 600;
			}
		}
	}
}

a.button {
	padding:10px 15px;
	display:inline-block;
	width:auto;
	color:#fff;
	background-color:#7cbcea;
	text-transform:uppercase;
	@include border-radius(5px);
}

a.button-transparent {
	padding:10px;
	display:inline-block;
	width:auto;
	color:#7cbcea;
	background-color:transparent;
	text-transform:uppercase;
	border:1px solid #7cbcea;
	@include border-radius(5px);
}
i.leaf {
	position:relative;
	&:after {
		content:' ';
		position:absolute;
		background-image:url('../images/leaf.png');
		background-repeat:no-repeat;
		display:block;
		width:230px;
		height:200px;
	    top: -200px;
	    left: 350px;
	    z-index: 1000;
	}
}

.btn.btn-default {
	color:#545454;
}



$bgColor:#a6d2ed;
$boxColor:#a6d2ed;
$waterFColor:#7fbfe7;
$waterBColor:#e4f2fb;


body.st-page-index{
	.st-body-wrap{
		opacity: 0;
	}
	.preloader{
		position: absolute;
		z-index:9999991;
		width:100%;
		height:100%;
		left:0;
		top:0;
		opacity: 1;

	}
}
body.loaded{
	.st-body-wrap{
		transition:0.25s ease-in-out;
		@include transition-delay(.5s);
		opacity: 1;
	}
	.preloader{
		.box{
			@include transition-delay(.4s);
			-webkit-transition: all 500ms cubic-bezier(0.480, 0, 0.350, 1); /* older webkit */
			-webkit-transition: all 500ms cubic-bezier(0.480, -0.165, 0.350, 1.130);
			   -moz-transition: all 500ms cubic-bezier(0.480, -0.165, 0.350, 1.130);
			     -o-transition: all 500ms cubic-bezier(0.480, -0.165, 0.350, 1.130);
			        transition: all 500ms cubic-bezier(0.480, -0.165, 0.350, 1.130); /* custom */

			-webkit-transition-timing-function: cubic-bezier(0.480, 0, 0.350, 1); /* older webkit */
			-webkit-transition-timing-function: cubic-bezier(0.480, -0.165, 0.350, 1.130);
			   -moz-transition-timing-function: cubic-bezier(0.480, -0.165, 0.350, 1.130);
			     -o-transition-timing-function: cubic-bezier(0.480, -0.165, 0.350, 1.130);
			        transition-timing-function: cubic-bezier(0.480, -0.165, 0.350, 1.130); /* custom */
			opacity: 0;
		}
	}

}
.box{
  height: 180px;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $boxColor;
  border-radius:100%;
  overflow: hidden; 
  .percent{
    position: absolute;
    left: 0;
    top: 0;
    z-index:3;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center; 
    color:#fff;
    font-size:48px;
  } 
  .water{
    position: absolute;
    left: 0;
    top: 0;
    z-index:2;
    width: 100%;
    height: 100%;
    transform:translate(0,100%);
    background:$waterFColor;
    transition: all .3s;
    &_wave{
      width: 200%;
      position: absolute;
      bottom: 100%;
      &_back {
        right: 0;
        fill: $waterBColor;
        animation: wave-back 1.4s infinite linear;
      }
      &_front {
        left: 0;
        fill: $waterFColor;
        margin-bottom: -1px;
        animation: wave-front .7s infinite linear;
      }
    }
  }
}
@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}



@import "_homepage";
@import "_about-us";
@import "_unique-proposal";
@import "_productos";
@import "_stevio";
@import "_stevix";
@import "_contactenos";
@import "_trabaja-con-nosotros";
